workflows/The title clearly communicates the workflow's purpose, mentions all key services, and follows an excellent structure.-11666/the_title_clearly_communicates_the_workflow_s_purpose_mentions_all_key_services_and_follows_an_excellent_structure..json
{"meta":{"instanceId":"n8n-template-monday-onboarding","templateCredsSetupCompleted":true},"nodes":[{"id":"ba8ddefa-b796-40d1-b00a-711efbc7fd10","name":"Main Overview","type":"n8n-nodes-base.stickyNote","position":[112,-80],"parameters":{"width":484,"height":656,"content":"## Complete Client Onboarding Workflow\n\nAutomate your entire client onboarding process: collect information via form, create a Monday.com item, generate Google Drive folders, and send a welcome email—all in one workflow.\n\n### How it works\n1. Client/team submits the intake form\n2. A new item is created in your Monday.com board\n3. Google Drive folder structure is generated from your template\n4. Monday.com item is updated with the folder link\n5. Welcome email is sent to the client\n\n### Setup steps\n- [ ] Connect your Monday.com credentials\n- [ ] Connect your Google Drive credentials\n- [ ] Connect your Gmail credentials\n- [ ] Deploy the Apps Script for folder duplication\n- [ ] Update placeholder values in the workflow\n\n### Customization\n- Add more form fields (phone, address, budget)\n- Add Slack notification after onboarding\n- Create additional items in other Monday boards"},"typeVersion":1},{"id":"b4c69f2f-31f2-455e-8e45-34801447ab31","name":"Configuration Warning","type":"n8n-nodes-base.stickyNote","position":[640,-80],"parameters":{"color":2,"width":1408,"height":300,"content":"## ⚠️ Configuration Required\n\n**Monday.com:**\n- `YOUR_BOARD_ID` — Your Monday board ID\n- `YOUR_GROUP_ID` — Group where items are created\n- Column IDs for: Status, Email, Folder Link\n\n**Google Drive:**\n- `DESTINATION_PARENT_FOLDER_ID`\n- `YOUR_TEMPLATE_FOLDER_ID`\n- `YOUR_APPS_SCRIPT_URL`\n\n**Find Monday IDs:** Open board → URL shows board ID. Use Monday API or browser dev tools for group/column IDs."},"typeVersion":1},{"id":"e93958e0-6176-4b5c-a609-d50051bad7bf","name":"Section 1","type":"n8n-nodes-base.stickyNote","position":[640,240],"parameters":{"color":6,"width":184,"height":344,"content":"## 1. Intake Form"},"typeVersion":1},{"id":"273e69ff-6b6b-47a1-8cbe-4abc77e0a3b4","name":"Section 2","type":"n8n-nodes-base.stickyNote","position":[864,240],"parameters":{"color":6,"width":192,"height":344,"content":"## 2. Create Monday Item"},"typeVersion":1},{"id":"f8b98194-c3fd-4dd1-863c-b2fd3f56b76f","name":"Section 3","type":"n8n-nodes-base.stickyNote","position":[1088,240],"parameters":{"color":6,"width":548,"height":344,"content":"## 3. Create Drive Folders"},"typeVersion":1},{"id":"b3fea1b9-ddfa-438f-a9db-55fed59b5c1a","name":"Section 4","type":"n8n-nodes-base.stickyNote","position":[1664,240],"parameters":{"color":6,"width":384,"height":344,"content":"## 4. Update Monday & Notify"},"typeVersion":1},{"id":"45855656-5041-464d-946c-303e719a424d","name":"Client Intake Form","type":"n8n-nodes-base.formTrigger","position":[688,368],"webhookId":"client-onboarding-form","parameters":{"options":{},"formTitle":"New Client Onboarding","formFields":{"values":[{"fieldLabel":"Client Name","placeholder":"e.g. Acme Corporation","requiredField":true},{"fieldType":"email","fieldLabel":"Contact Email","placeholder":"e.g. john@acme.com","requiredField":true},{"fieldType":"dropdown","fieldLabel":"Project Type","fieldOptions":{"values":[{"option":"Website Design"},{"option":"Branding"},{"option":"Marketing Campaign"},{"option":"Consulting"}]},"requiredField":true}]},"formDescription":"Enter client details to start the onboarding process"},"typeVersion":2.2},{"id":"2ef76e4e-571e-488b-adc5-78c45ffb91de","name":"Create Client in Monday","type":"n8n-nodes-base.mondayCom","position":[912,368],"parameters":{"boardId":"YOUR_BOARD_ID","groupId":"YOUR_GROUP_ID","itemName":"={{ $json['Client Name'] }}","resource":"boardItem","operation":"create","additionalFields":{"columnValues":{"columnValuesUi":{"columnValue":[{"value":"New Client","column":"status"},{"value":"={{ $json['Contact Email'] }}","column":"email","columnType":"email"},{"value":"={{ $json['Project Type'] }}","column":"text"}]}}}},"typeVersion":1},{"id":"0f2f791c-e4a9-4f9a-b070-c6c36aa47628","name":"Create Client Folder","type":"n8n-nodes-base.googleDrive","position":[1136,368],"parameters":{"name":"={{ $('Client Intake Form').item.json['Client Name'] }}","driveId":{"__rl":true,"mode":"name","value":"My Drive"},"options":{},"folderId":{"__rl":true,"mode":"id","value":"DESTINATION_PARENT_FOLDER_ID"},"resource":"folder"},"typeVersion":3},{"id":"60a3d88b-cee4-4682-b657-317f1d8dcc62","name":"Wait for Drive Sync","type":"n8n-nodes-base.wait","position":[1312,368],"webhookId":"wait-drive-sync","parameters":{},"typeVersion":1.1},{"id":"ce06f125-3269-43ac-93d5-4b84b22a0daa","name":"Duplicate Template Structure","type":"n8n-nodes-base.httpRequest","position":[1488,368],"parameters":{"url":"YOUR_APPS_SCRIPT_URL","method":"POST","options":{"timeout":300000},"sendQuery":true,"queryParameters":{"parameters":[{"name":"templateFolderId","value":"YOUR_TEMPLATE_FOLDER_ID"},{"name":"name","value":"={{ $('Client Intake Form').item.json['Client Name'] }}"},{"name":"destinationFolderId","value":"={{ $('Create Client Folder').item.json.id }}"}]}},"typeVersion":4.2},{"id":"f2b18db3-09af-462d-9baf-ce0f293cbf01","name":"Add Folder Link to Monday","type":"n8n-nodes-base.mondayCom","position":[1712,368],"parameters":{"value":"={{ $('Create Client Folder').item.json.webViewLink }}","itemId":"={{ $('Create Client in Monday').item.json.id }}","boardId":"YOUR_BOARD_ID","columnId":"link","resource":"boardItem","operation":"changeColumnValue"},"typeVersion":1},{"id":"eeb26a30-a5b4-439e-b33e-083d436eb8f3","name":"Send Welcome Email","type":"n8n-nodes-base.gmail","position":[1904,368],"parameters":{"sendTo":"={{ $('Client Intake Form').item.json['Contact Email'] }}","message":"<h2>Welcome aboard! 🎉</h2>\n<p>Hi there,</p>\n<p>Thank you for choosing us for your <strong>{{ $('Client Intake Form').item.json['Project Type'] }}</strong> project.</p>\n<p>We've set up your project folder where all documents and assets will be stored:</p>\n<p><a href=\"{{ $('Create Client Folder').item.json.webViewLink }}\">📁 Access Your Project Folder</a></p>\n<p>Our team will be in touch shortly to discuss next steps.</p>\n<br>\n<p>Best regards,<br>Your Team</p>","options":{},"subject":"Welcome to {{ $('Client Intake Form').item.json['Client Name'] }} Project!"},"typeVersion":2.1}],"pinData":{},"connections":{"Client Intake Form":{"main":[[{"node":"Create Client in Monday","type":"main","index":0}]]},"Wait for Drive Sync":{"main":[[{"node":"Duplicate Template Structure","type":"main","index":0}]]},"Create Client Folder":{"main":[[{"node":"Wait for Drive Sync","type":"main","index":0}]]},"Create Client in Monday":{"main":[[{"node":"Create Client Folder","type":"main","index":0}]]},"Add Folder Link to Monday":{"main":[[{"node":"Send Welcome Email","type":"main","index":0}]]},"Duplicate Template Structure":{"main":[[{"node":"Add Folder Link to Monday","type":"main","index":0}]]}}}