workflows/Review Aggregator and AI Alerts for Google, Facebook, Trustpilot, and Yelp-11410/review_aggregator_and_ai_alerts_for_google_facebook_trustpilot_and_yelp.json
{"id":"QtnggaewmMLQ1JDV","meta":{"instanceId":"c2d487d22eb340f8f43c55ff61f8c69909cb5c9301a99030a4a4ab5908a80ca6"},"name":"Review Aggregator and AI Alerts for Google, Facebook, Trustpilot, and Yelp","tags":[],"nodes":[{"id":"36519e78-58e8-47fd-9376-d44adb02b667","name":"Daily Schedule - 09:00","type":"n8n-nodes-base.scheduleTrigger","position":[-96,576],"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"typeVersion":1.3},{"id":"882018d1-f327-470f-a2ea-72337e7aceaa","name":"Workflow Configuration","type":"n8n-nodes-base.set","position":[128,576],"parameters":{"options":{},"assignments":{"assignments":[{"id":"id-1","name":"googleApiUrl","type":"string","value":"<__PLACEHOLDER_VALUE__Google My Business API endpoint__>"},{"id":"id-2","name":"facebookApiUrl","type":"string","value":"<__PLACEHOLDER_VALUE__Facebook Graph API endpoint__>"},{"id":"id-3","name":"trustpilotApiUrl","type":"string","value":"<__PLACEHOLDER_VALUE__Trustpilot API endpoint__>"},{"id":"id-4","name":"yelpApiUrl","type":"string","value":"<__PLACEHOLDER_VALUE__Yelp Fusion API endpoint__>"},{"id":"id-5","name":"slackChannel","type":"string","value":"<__PLACEHOLDER_VALUE__Slack channel ID for alerts__>"},{"id":"id-6","name":"managerEmail","type":"string","value":"<__PLACEHOLDER_VALUE__Manager email for weekly reports__>"},{"id":"id-7","name":"sheetsDocumentId","type":"string","value":"<__PLACEHOLDER_VALUE__Google Sheets document ID__>"},{"id":"id-8","name":"sheetsSheetName","type":"string","value":"Reviews"}]},"includeOtherFields":true},"typeVersion":3.4},{"id":"c1baf321-56fb-43bf-a6aa-a614868ae75e","name":"Get Google Reviews","type":"n8n-nodes-base.httpRequest","position":[496,288],"parameters":{"url":"={{ $('Workflow Configuration').first().json.googleApiUrl }}","options":{"response":{"response":{"responseFormat":"json"}}},"sendQuery":true,"sendHeaders":true,"queryParameters":{"parameters":[{"name":"updated_after","value":"={{ $now.minus({ days: 1 }).toISO() }}"}]},"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ GOOGLE_API_KEY }}"}]}},"typeVersion":4.3},{"id":"3ee62849-c8f8-40b7-a745-f678dc0d823d","name":"Get Facebook Reviews","type":"n8n-nodes-base.httpRequest","position":[496,480],"parameters":{"url":"={{ $('Workflow Configuration').first().json.facebookApiUrl }}","options":{"response":{"response":{"responseFormat":"json"}}},"sendQuery":true,"queryParameters":{"parameters":[{"name":"since","value":"={{ $now.minus({ days: 1 }).toUnixInteger() }}"},{"name":"access_token","value":"={{ FACEBOOK_ACCESS_TOKEN }}"}]}},"typeVersion":4.3},{"id":"e0ac0ab8-0198-4940-9feb-24b8865a9f3f","name":"Get Trustpilot Reviews","type":"n8n-nodes-base.httpRequest","position":[496,672],"parameters":{"url":"={{ $('Workflow Configuration').first().json.trustpilotApiUrl }}","options":{"response":{"response":{"responseFormat":"json"}}},"sendQuery":true,"sendHeaders":true,"queryParameters":{"parameters":[{"name":"createdSince","value":"={{ $now.minus({ days: 1 }).toISO() }}"}]},"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ TRUSTPILOT_API_KEY }}"}]}},"typeVersion":4.3},{"id":"338f648b-a41d-4252-a2d2-b24b8785deca","name":"Get Yelp Reviews","type":"n8n-nodes-base.httpRequest","position":[496,864],"parameters":{"url":"={{ $('Workflow Configuration').first().json.yelpApiUrl }}","options":{"response":{"response":{"responseFormat":"json"}}},"sendQuery":true,"sendHeaders":true,"queryParameters":{"parameters":[{"name":"start_date","value":"={{ $now.minus({ days: 1 }).toFormat('yyyy-MM-dd') }}"}]},"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer YOUR_TOKEN_HERE"}]}},"typeVersion":4.3},{"id":"6925e307-86d7-4842-9e7a-c2099a77c176","name":"Merge All Reviews","type":"n8n-nodes-base.merge","position":[880,560],"parameters":{"mode":"combine","options":{},"combineBy":"combineByPosition","numberInputs":4},"typeVersion":3.2},{"id":"ce997c0b-c256-412f-9042-4a3b13c31115","name":"Prepare AI Input","type":"n8n-nodes-base.set","position":[1536,496],"parameters":{"options":{},"assignments":{"assignments":[{"id":"id-1","name":"reviewData","type":"string","value":"={{ JSON.stringify({ platform: $json.platform, location: $json.location, rating: $json.rating, text: $json.text, reviewer_name: $json.reviewer_name, created_at: $json.created_at }) }}"}]},"includeOtherFields":true},"typeVersion":3.4},{"id":"76863304-3389-40ce-ade4-793efbf999bd","name":"Sentiment Analysis (GPT-4)","type":"@n8n/n8n-nodes-langchain.openAi","position":[1760,496],"parameters":{"modelId":{"__rl":true,"mode":"id","value":"gpt-4"},"options":{"instructions":"You are a customer feedback and sentiment analysis assistant. Analyze the provided review and return a JSON object with the following fields:\n- sentiment: \"positive\", \"negative\", or \"neutral\"\n- sentiment_score: a number between -1 (very negative) and 1 (very positive)\n- main_issues: array of key problems mentioned (for negative reviews)\n- main_highlights: array of positive aspects mentioned (for positive reviews)\n- suggested_response_tone: recommended tone for response (e.g., \"apologetic\", \"grateful\", \"professional\")\n- summary: a brief 1-2 sentence summary of the review\n\nReturn ONLY valid JSON, no additional text."},"responses":{"values":[{"content":"={{ $json.reviewData }}"}]},"builtInTools":{}},"credentials":{"openAiApi":{"id":"qOezWks7heW547ti","name":"OpenAi account"}},"typeVersion":2},{"id":"fa372041-0dc0-405a-9da2-2ba6f33a6d1d","name":"Categorize & Parse AI Output","type":"n8n-nodes-base.code","position":[2112,496],"parameters":{"jsCode":"const items = $input.all();\nconst output = [];\n\nfor (const item of items) {\n  const aiResponse = JSON.parse(item.json.message.content);\n  const originalData = item.json;\n  \n  // Determine category based on keywords\n  const text = originalData.text ? originalData.text.toLowerCase() : '';\n  let category = 'general';\n  \n  if (text.includes('service') || text.includes('staff') || text.includes('employee')) {\n    category = 'service';\n  } else if (text.includes('price') || text.includes('cost') || text.includes('expensive')) {\n    category = 'price';\n  } else if (text.includes('product') || text.includes('quality') || text.includes('food')) {\n    category = 'product';\n  } else if (text.includes('experience') || text.includes('atmosphere') || text.includes('ambiance')) {\n    category = 'experience';\n  }\n  \n  output.push({\n    json: {\n      platform: originalData.platform,\n      rating: originalData.rating,\n      text: originalData.text,\n      created_at: originalData.created_at,\n      reviewer_name: originalData.reviewer_name,\n      review_url: originalData.review_url,\n      location: originalData.location,\n      sentiment: aiResponse.sentiment,\n      sentiment_score: aiResponse.sentiment_score,\n      category: category,\n      is_negative: aiResponse.sentiment === 'negative',\n      main_issues: aiResponse.main_issues || [],\n      main_highlights: aiResponse.main_highlights || [],\n      suggested_response_tone: aiResponse.suggested_response_tone,\n      summary: aiResponse.summary\n    }\n  });\n}\n\nreturn output;"},"typeVersion":2},{"id":"b85ed23d-21a6-42d2-8913-2d6d7c7f2e42","name":"Check If Negative","type":"n8n-nodes-base.if","position":[2336,496],"parameters":{"options":{},"conditions":{"options":{"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"id-1","operator":{"type":"boolean","operation":"true"},"leftValue":"={{ $json.is_negative }}"}]}},"typeVersion":2.2},{"id":"23a41d80-ee00-467b-953f-65105a9ceb10","name":"Alert - Negative Review","type":"n8n-nodes-base.slack","position":[2624,432],"webhookId":"f5c9887a-b3b1-4a29-a6e7-0e15a29242ac","parameters":{"text":"=🚨 *Negative Review Alert*\n\n*Platform:* {{ $json.platform }}\n*Location:* {{ $json.location }}\n*Rating:* {{ $json.rating }}/5 ⭐\n*Reviewer:* {{ $json.reviewer_name }}\n*Date:* {{ $json.created_at }}\n\n*Summary:* {{ $json.summary }}\n\n*Main Issues:*\n• {{ $json.main_issues.join('\\n• ') }}\n\n*Suggested Response Tone:* {{ $json.suggested_response_tone }}\n\n*Review Link:* {{ $json.review_url }}","select":"channel","channelId":{"__rl":true,"mode":"id","value":"={{ $('Workflow Configuration').first().json.slackChannel }}"},"otherOptions":{}},"credentials":{"slackApi":{"id":"aV8dmp4JPT96dIse","name":"Slack account"}},"typeVersion":2.3},{"id":"c7ed284d-d83f-490c-a371-6d7a20590d15","name":"Log Review to Sheet","type":"n8n-nodes-base.googleSheets","position":[2912,512],"parameters":{"columns":{"value":{"date":"={{ $json.created_at }}","rating":"={{ $json.rating }}","summary":"={{ $json.summary }}","category":"={{ $json.category }}","location":"={{ $json.location }}","platform":"={{ $json.platform }}","raw_text":"={{ $json.text }}","sentiment":"={{ $json.sentiment }}","review_url":"={{ $json.review_url }}","sentiment_score":"={{ $json.sentiment_score }}"},"schema":[{"id":"date","required":false,"displayName":"date","defaultMatch":true,"canBeUsedToMatch":true},{"id":"platform","required":false,"displayName":"platform","defaultMatch":false,"canBeUsedToMatch":true},{"id":"location","required":false,"displayName":"location","defaultMatch":false,"canBeUsedToMatch":true},{"id":"rating","required":false,"displayName":"rating","defaultMatch":false,"canBeUsedToMatch":true},{"id":"sentiment","required":false,"displayName":"sentiment","defaultMatch":false,"canBeUsedToMatch":true},{"id":"sentiment_score","required":false,"displayName":"sentiment_score","defaultMatch":false,"canBeUsedToMatch":true},{"id":"category","required":false,"displayName":"category","defaultMatch":false,"canBeUsedToMatch":true},{"id":"summary","required":false,"displayName":"summary","defaultMatch":false,"canBeUsedToMatch":true},{"id":"review_url","required":false,"displayName":"review_url","defaultMatch":false,"canBeUsedToMatch":true},{"id":"raw_text","required":false,"displayName":"raw_text","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["date"]},"options":{},"operation":"appendOrUpdate","sheetName":{"__rl":true,"mode":"name","value":"={{ $('Workflow Configuration').first().json.sheetsSheetName }}"},"documentId":{"__rl":true,"mode":"id","value":"={{ $('Workflow Configuration').first().json.sheetsDocumentId }}"},"authentication":"serviceAccount"},"credentials":{"googleApi":{"id":"bFhfsO5dYdRTOWJu","name":"Google Sheets account"}},"typeVersion":4.7},{"id":"50e2a090-7f3c-4a17-92e9-e4f304bb3413","name":"Check If Monday (Weekly Report)","type":"n8n-nodes-base.if","position":[1536,912],"parameters":{"options":{},"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"id-1","operator":{"type":"number","operation":"equals"},"leftValue":"={{ $now.weekday }}","rightValue":1}]}},"typeVersion":2.2},{"id":"38ef1072-cea4-4423-991c-9486f1a91121","name":"Get Last 7 Days Reviews","type":"n8n-nodes-base.googleSheets","position":[1824,896],"parameters":{"options":{},"filtersUI":{"values":[{"lookupValue":"={{ $now.minus({ days: 7 }).toISO() }}","lookupColumn":"date"}]},"sheetName":{"__rl":true,"mode":"name","value":"={{ $('Workflow Configuration').first().json.sheetsSheetName }}"},"documentId":{"__rl":true,"mode":"id","value":"={{ $('Workflow Configuration').first().json.sheetsDocumentId }}"},"authentication":"serviceAccount"},"credentials":{"googleApi":{"id":"bFhfsO5dYdRTOWJu","name":"Google Sheets account"}},"typeVersion":4.7},{"id":"54df840e-ad1d-4302-85c3-405562774a6c","name":"Aggregate Weekly Stats","type":"n8n-nodes-base.aggregate","position":[2112,896],"parameters":{"options":{},"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"platform"},{"fieldToAggregate":"sentiment"},{"fieldToAggregate":"category"},{"fieldToAggregate":"main_issues"},{"fieldToAggregate":"main_highlights"}]}},"typeVersion":1},{"id":"cdc8afe9-7382-4fcf-9f7b-5264bc67927b","name":"Calculate Weekly Metrics","type":"n8n-nodes-base.code","position":[2336,896],"parameters":{"jsCode":"const items = $input.all();\nconst data = items[0].json;\n\n// Count reviews per platform\nconst platformCounts = {};\ndata.platform.forEach(p => {\n  platformCounts[p] = (platformCounts[p] || 0) + 1;\n});\n\n// Calculate sentiment breakdown\nconst sentimentCounts = { positive: 0, negative: 0, neutral: 0 };\ndata.sentiment.forEach(s => {\n  sentimentCounts[s] = (sentimentCounts[s] || 0) + 1;\n});\n\nconst totalReviews = data.sentiment.length;\nconst sentimentPercentages = {\n  positive: ((sentimentCounts.positive / totalReviews) * 100).toFixed(1),\n  negative: ((sentimentCounts.negative / totalReviews) * 100).toFixed(1),\n  neutral: ((sentimentCounts.neutral / totalReviews) * 100).toFixed(1)\n};\n\n// Extract top issues and highlights\nconst allIssues = data.main_issues.flat().filter(i => i);\nconst allHighlights = data.main_highlights.flat().filter(h => h);\n\nconst issueFrequency = {};\nallIssues.forEach(issue => {\n  issueFrequency[issue] = (issueFrequency[issue] || 0) + 1;\n});\n\nconst highlightFrequency = {};\nallHighlights.forEach(highlight => {\n  highlightFrequency[highlight] = (highlightFrequency[highlight] || 0) + 1;\n});\n\nconst topIssues = Object.entries(issueFrequency)\n  .sort((a, b) => b[1] - a[1])\n  .slice(0, 5)\n  .map(([issue, count]) => `${issue} (${count} mentions)`);\n\nconst topHighlights = Object.entries(highlightFrequency)\n  .sort((a, b) => b[1] - a[1])\n  .slice(0, 5)\n  .map(([highlight, count]) => `${highlight} (${count} mentions)`);\n\nreturn [{\n  json: {\n    totalReviews,\n    platformCounts,\n    sentimentCounts,\n    sentimentPercentages,\n    topIssues,\n    topHighlights\n  }\n}];"},"typeVersion":2},{"id":"9bc64208-2e76-464c-b3b8-f87efdb8058c","name":"Generate Weekly Summary (GPT-4)","type":"@n8n/n8n-nodes-langchain.openAi","position":[1568,1168],"parameters":{"modelId":{"mode":"id","value":"gpt-4"},"options":{"instructions":"You are a business intelligence analyst. Based on the weekly review metrics provided, create a concise executive summary (200-300 words) that includes:\n\n1. Overall sentiment trend and key statistics\n2. Platform-specific insights\n3. Top customer wins (positive highlights)\n4. Critical issues requiring attention\n5. 3-5 actionable recommendations for management\n\nWrite in a professional, data-driven tone suitable for senior management."},"responses":{"values":[{"content":"={{ JSON.stringify($json) }}"}]},"builtInTools":{}},"credentials":{"openAiApi":{"id":"qOezWks7heW547ti","name":"OpenAi account"}},"typeVersion":2},{"id":"2225fd39-fe08-4ee8-9d3d-e2a089d50a87","name":"Send Weekly Email Report","type":"n8n-nodes-base.gmail","position":[1920,1168],"webhookId":"af88c821-9806-4eb7-8f06-00ff06e75a2d","parameters":{"sendTo":"={{ $('Workflow Configuration').first().json.managerEmail }}","message":"=<h2>Weekly Review Summary</h2>\n<p><strong>Period:</strong> {{ $now.minus({ days: 7 }).toFormat('MMM dd') }} - {{ $now.toFormat('MMM dd, yyyy') }}</p>\n\n<h3>📊 Key Metrics</h3>\n<ul>\n<li><strong>Total Reviews:</strong> {{ $('Calculate Weekly Metrics').item.json.totalReviews }}</li>\n<li><strong>Positive:</strong> {{ $('Calculate Weekly Metrics').item.json.sentimentPercentages.positive }}%</li>\n<li><strong>Negative:</strong> {{ $('Calculate Weekly Metrics').item.json.sentimentPercentages.negative }}%</li>\n<li><strong>Neutral:</strong> {{ $('Calculate Weekly Metrics').item.json.sentimentPercentages.neutral }}%</li>\n</ul>\n\n<h3>🎯 Platform Breakdown</h3>\n<ul>\n{{ Object.entries($('Calculate Weekly Metrics').item.json.platformCounts).map(([platform, count]) => `<li>${platform}: ${count} reviews</li>`).join('\\n') }}\n</ul>\n\n<h3>✅ Top Positive Highlights</h3>\n<ol>\n{{ $('Calculate Weekly Metrics').item.json.topHighlights.map(h => `<li>${h}</li>`).join('\\n') }}\n</ol>\n\n<h3>⚠️ Top Issues</h3>\n<ol>\n{{ $('Calculate Weekly Metrics').item.json.topIssues.map(i => `<li>${i}</li>`).join('\\n') }}\n</ol>\n\n<h3>💡 AI-Generated Summary</h3>\n<p>{{ $json.message.content }}</p>\n\n<hr>\n<p><em>This report was automatically generated by the Multi-Platform Review Aggregator workflow.</em></p>","options":{},"subject":"=Weekly Review Summary - {{ $now.toFormat('MMMM dd, yyyy') }}","authentication":"serviceAccount"},"credentials":{"googleApi":{"id":"bFhfsO5dYdRTOWJu","name":"Google Sheets account"}},"typeVersion":2.1},{"id":"e40c5615-5a29-4575-b28e-7060c99dcf96","name":"Normalize All Reviews","type":"n8n-nodes-base.code","position":[1104,592],"parameters":{"jsCode":"const items = $input.all();\nconst output = [];\n\nfor (const item of items) {\n  const data = item.json;\n  let normalized = {};\n  \n  // Detect platform and normalize accordingly\n  if (data.starRating !== undefined && data.reviewer && data.reviewer.displayName) {\n    // Google Review\n    normalized = {\n      platform: 'Google',\n      rating: data.starRating,\n      text: data.comment || '',\n      created_at: data.createTime || '',\n      reviewer_name: data.reviewer.displayName || '',\n      review_url: data.name ? `https://www.google.com/maps/reviews/${data.name}` : '',\n      location: data.name || ''\n    };\n  } else if (data.rating !== undefined && data.review_text !== undefined && data.reviewer) {\n    // Facebook Review\n    normalized = {\n      platform: 'Facebook',\n      rating: data.rating,\n      text: data.review_text || '',\n      created_at: data.created_time || '',\n      reviewer_name: data.reviewer.name || '',\n      review_url: data.open_graph_story ? data.open_graph_story.id : '',\n      location: data.page ? data.page.name : ''\n    };\n  } else if (data.stars !== undefined && data.text !== undefined && data.consumer) {\n    // Trustpilot Review\n    normalized = {\n      platform: 'Trustpilot',\n      rating: data.stars,\n      text: data.text || '',\n      created_at: data.createdAt || '',\n      reviewer_name: data.consumer.displayName || '',\n      review_url: data.links ? data.links[0].href : '',\n      location: data.businessUnit ? data.businessUnit.displayName : ''\n    };\n  } else if (data.rating !== undefined && data.text !== undefined && data.user) {\n    // Yelp Review\n    normalized = {\n      platform: 'Yelp',\n      rating: data.rating,\n      text: data.text || '',\n      created_at: data.time_created || '',\n      reviewer_name: data.user.name || '',\n      review_url: data.url || '',\n      location: data.business ? data.business.name : ''\n    };\n  } else {\n    // Unknown format - pass through with generic mapping\n    normalized = {\n      platform: data.platform || 'Unknown',\n      rating: data.rating || 0,\n      text: data.text || '',\n      created_at: data.created_at || '',\n      reviewer_name: data.reviewer_name || '',\n      review_url: data.review_url || '',\n      location: data.location || ''\n    };\n  }\n  \n  output.push({ json: normalized });\n}\n\nreturn output;"},"typeVersion":2},{"id":"ff1c5c5a-ab82-4355-877c-aab20e442fa9","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-1088,400],"parameters":{"width":912,"height":464,"content":"## How it works\nThis workflow automatically monitors your reviews across Google, Facebook, Trustpilot, and Yelp.\n\nEvery morning a schedule trigger runs, loads your configuration, then fetches the latest reviews from all connected platforms. The results are merged into a single list and normalized so every review has the same structure (platform, rating, text, date, author, URL, etc.).\n\nEach review is sent to an AI node for sentiment analysis and categorization. The AI returns the sentiment, a score, key issues or highlights, and a short summary. If a review is negative, the workflow sends an instant Slack alert so your team can respond quickly.\n\nAll reviews and AI insights are logged to a Google Sheet for reporting. On Mondays, the workflow reads the last 7 days of reviews, aggregates stats (volume, sentiment, top issues and highlights) and asks AI to generate a weekly summary for management, which is emailed automatically.\n\n## Setup steps\n1. Add credentials and business IDs/URLs for each review platform.\n2. Configure Slack, Google Sheets, and email credentials.\n3. Adjust the sentiment thresholds and AI prompt to match your tone and escalation rules.\n4. Set the correct time zone and daily schedule.\n5. Run once in test mode, review the Sheet, Slack alerts, and weekly email, then enable the schedule."},"typeVersion":1},{"id":"e1a75f5f-ef33-499e-95c1-9ab004906d57","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-144,400],"parameters":{"color":7,"width":432,"height":464,"content":"## Schedule & Config\n\nDaily trigger and core settings: review sources, business IDs, API keys, and destination Sheet/Slack/email. Update these before going live."},"typeVersion":1},{"id":"d675239c-8207-4c78-bcee-e1b62b6c0295","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[432,96],"parameters":{"color":7,"width":224,"height":944,"content":"## Fetch Reviews\n\nPulls the latest reviews from Google, Facebook, Trustpilot, and Yelp. Each node targets one platform with your business/location IDs."},"typeVersion":1},{"id":"8481be68-d1a7-4189-9f98-0eb90fbede87","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[816,384],"parameters":{"color":7,"width":432,"height":480,"content":"## Merge & Normalize\n\nCombines reviews from all platforms and converts them into a single, consistent format for downstream AI analysis and reporting."},"typeVersion":1},{"id":"db0550f7-7f14-4431-8fe8-c11da2a16e9d","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1504,304],"parameters":{"color":7,"width":960,"height":368,"content":"## AI Sentiment\n\nSends each review to AI to detect sentiment, score, key issues/highlights, and a short summary. Used to flag negative reviews and enrich your log."},"typeVersion":1},{"id":"c5bd6d7f-c3c0-40af-a2bc-bfe7055912ac","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[2544,304],"parameters":{"color":7,"width":560,"height":368,"content":"## Alerts & Logging\n\nSends a Slack alert for negative reviews and logs all reviews plus AI insights into a Google Sheet for tracking and analytics."},"typeVersion":1},{"id":"0118d093-91e7-4b17-a15c-a3e8088ad9c5","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[1504,720],"parameters":{"color":7,"width":992,"height":624,"content":"## Weekly Report\n\nOn Mondays, aggregates the last 7 days of reviews, builds stats, lets AI write an executive summary, and emails the weekly report to your team."},"typeVersion":1}],"active":false,"pinData":{},"settings":{"executionOrder":"v1"},"versionId":"a5cff827-dec6-48fa-ad2c-08549dc368c6","connections":{"Get Yelp Reviews":{"main":[[{"node":"Merge All Reviews","type":"main","index":3}]]},"Prepare AI Input":{"main":[[{"node":"Sentiment Analysis (GPT-4)","type":"main","index":0}]]},"Check If Negative":{"main":[[{"node":"Alert - Negative Review","type":"main","index":0}],[{"node":"Log Review to Sheet","type":"main","index":0}]]},"Merge All Reviews":{"main":[[{"node":"Normalize All Reviews","type":"main","index":0}]]},"Get Google Reviews":{"main":[[{"node":"Merge All Reviews","type":"main","index":0}]]},"Get Facebook Reviews":{"main":[[{"node":"Merge All Reviews","type":"main","index":1}]]},"Normalize All Reviews":{"main":[[{"node":"Prepare AI Input","type":"main","index":0},{"node":"Check If Monday (Weekly Report)","type":"main","index":0}]]},"Aggregate Weekly Stats":{"main":[[{"node":"Calculate Weekly Metrics","type":"main","index":0}]]},"Daily Schedule - 09:00":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Get Trustpilot Reviews":{"main":[[{"node":"Merge All Reviews","type":"main","index":2}]]},"Workflow Configuration":{"main":[[{"node":"Get Google Reviews","type":"main","index":0},{"node":"Get Facebook Reviews","type":"main","index":0},{"node":"Get Trustpilot Reviews","type":"main","index":0},{"node":"Get Yelp Reviews","type":"main","index":0}]]},"Alert - Negative Review":{"main":[[{"node":"Log Review to Sheet","type":"main","index":0}]]},"Get Last 7 Days Reviews":{"main":[[{"node":"Aggregate Weekly Stats","type":"main","index":0}]]},"Calculate Weekly Metrics":{"main":[[{"node":"Generate Weekly Summary (GPT-4)","type":"main","index":0}]]},"Sentiment Analysis (GPT-4)":{"main":[[{"node":"Categorize & Parse AI Output","type":"main","index":0}]]},"Categorize & Parse AI Output":{"main":[[{"node":"Check If Negative","type":"main","index":0}]]},"Check If Monday (Weekly Report)":{"main":[[{"node":"Get Last 7 Days Reviews","type":"main","index":0}]]},"Generate Weekly Summary (GPT-4)":{"main":[[{"node":"Send Weekly Email Report","type":"main","index":0}]]}}}