workflows/Scrape and Analyze Amazon Product Info with Decodo + OpenAI-11131/scrape_and_analyze_amazon_product_info_with_decodo_openai.json
{"id":"deHgKVE9Uf9GCNBN","meta":{"instanceId":"885b4fb4a6a9c2cb5621429a7b972df0d05bb724c20ac7dac7171b62f1c7ef40","templateCredsSetupCompleted":true},"name":"Scrape and Analyze Amazon Product Info with Decodo + OpenAI","tags":[{"id":"ddPkw7Hg5dZhQu2w","name":"AI","createdAt":"2025-04-13T05:38:08.053Z","updatedAt":"2025-04-13T05:38:08.053Z"},{"id":"ZOwtAMLepQaGW76t","name":"Building Blocks","createdAt":"2025-04-13T15:23:40.462Z","updatedAt":"2025-04-13T15:23:40.462Z"},{"id":"Kujft2FOjmOVQAmJ","name":"Engineering","createdAt":"2025-04-09T01:31:00.558Z","updatedAt":"2025-04-09T01:31:00.558Z"}],"nodes":[{"id":"9acc7180-abec-4d04-abd0-2505ec667a80","name":"When clicking ‘Execute workflow’","type":"n8n-nodes-base.manualTrigger","position":[-1152,656],"parameters":{},"typeVersion":1},{"id":"11b5855c-64a2-48be-9ee7-f4245554c13a","name":"Set the Input Fields","type":"n8n-nodes-base.set","position":[-960,656],"parameters":{"options":{},"assignments":{"assignments":[{"id":"8b6c695f-14f7-4ff9-b40a-90f27414c802","name":"product_url","type":"string","value":"https://www.amazon.in/Sony-DualSense-Controller-Grey-PlayStation/dp/B0BQXZ11B8"}]}},"typeVersion":3.4},{"id":"657db23a-996b-43aa-b3cf-8148e1e6aaa5","name":"Decodo Web scrape for Amazon Products","type":"@decodo/n8n-nodes-decodo.decodo","position":[-768,656],"parameters":{"url":"={{ $json.product_url }}","operation":"amazon"},"credentials":{"decodoApi":{"id":"7xLvINFuwxDiyBde","name":"Decodo Credentials account"}},"retryOnFail":true,"typeVersion":1},{"id":"33ee2b31-cb2e-45a5-8cee-b404ac83faca","name":"Extract Product Details","type":"n8n-nodes-base.code","position":[-464,704],"parameters":{"jsCode":"return $input.first().json.results[0].content.results.product_details"},"typeVersion":2},{"id":"19bb1c74-3200-437e-abd8-6cd2f76e06f6","name":"Extract Ads","type":"n8n-nodes-base.code","position":[-464,272],"parameters":{"jsCode":"return $input.first().json.results[0].content.results.ads"},"typeVersion":2},{"id":"5578b6bc-9b76-43f6-a7c4-3f16648a29c1","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[-32,656],"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"credentials":{"openAiApi":{"id":"vPKynKbDzJ5ZU4cU","name":"OpenAi account"}},"typeVersion":1.2},{"id":"ecd8d612-ba33-4098-ab15-d42b916606bb","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[176,656],"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"summary\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"},"typeVersion":1.3},{"id":"1170e95d-5995-4f7f-8abe-4a528b7780d9","name":"OpenAI Chat Model for Amazon Product Mining","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[16,272],"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"credentials":{"openAiApi":{"id":"vPKynKbDzJ5ZU4cU","name":"OpenAi account"}},"typeVersion":1.2},{"id":"dddc5c80-7161-4b0e-bc4a-146d207550a7","name":"Product Insights","type":"@n8n/n8n-nodes-langchain.informationExtractor","position":[16,96],"parameters":{"text":"={\n  \"nodes\": [\n    {\n      \"parameters\": {\n        \"promptType\": \"define\",\n        \"text\": \"=Provide me a descriptive summary of the following product details\\n\\n{{ $json.toJsonString() }}\",\n        \"hasOutputParser\": true,\n        \"messages\": {\n          \"messageValues\": [\n            {\n              \"message\": \"You are an expert content analyzer and summary generator\"\n            }\n          ]\n        },\n        \"batching\": {}\n      },\n      \"type\": \"@n8n/n8n-nodes-langchain.chainLlm\",\n      \"typeVersion\": 1.7,\n      \"position\": [\n        400,\n        -192\n      ],\n      \"id\": \"c4c1aeb4-7976-4f02-acec-0a2696b67dd2\",\n      \"name\": \"Basic LLM Chain\"\n    },\n    {\n      \"parameters\": {\n        \"model\": {\n          \"__rl\": true,\n          \"mode\": \"list\",\n          \"value\": \"gpt-4.1-mini\"\n        },\n        \"options\": {}\n      },\n      \"type\": \"@n8n/n8n-nodes-langchain.lmChatOpenAi\",\n      \"typeVersion\": 1.2,\n      \"position\": [\n        400,\n        0\n      ],\n      \"id\": \"3d8cece5-0cc7-4689-842b-ff07f936fad1\",\n      \"name\": \"OpenAI Chat Model\",\n      \"credentials\": {\n        \"openAiApi\": {\n          \"id\": \"vPKynKbDzJ5ZU4cU\",\n          \"name\": \"OpenAi account\"\n        }\n      }\n    },\n    {\n      \"parameters\": {\n        \"schemaType\": \"manual\",\n        \"inputSchema\": \"{\\n\\t\\\"type\\\": \\\"object\\\",\\n\\t\\\"properties\\\": {\\n\\t\\t\\\"summary\\\": {\\n\\t\\t\\t\\\"type\\\": \\\"string\\\"\\n\\t\\t}\\n\\t}\\n}\"\n      },\n      \"type\": \"@n8n/n8n-nodes-langchain.outputParserStructured\",\n      \"typeVersion\": 1.3,\n      \"position\": [\n        576,\n        0\n      ],\n      \"id\": \"b6a8d561-db1d-47ff-bb86-d6aea419550d\",\n      \"name\": \"Structured Output Parser\"\n    }\n  ],\n  \"connections\": {\n    \"OpenAI Chat Model\": {\n      \"ai_languageModel\": [\n        [\n          {\n            \"node\": \"Basic LLM Chain\",\n            \"type\": \"ai_languageModel\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Structured Output Parser\": {\n      \"ai_outputParser\": [\n        [\n          {\n            \"node\": \"Basic LLM Chain\",\n            \"type\": \"ai_outputParser\",\n            \"index\": 0\n          }\n        ]\n      ]\n    }\n  },\n  \"pinData\": {},\n  \"meta\": {\n    \"templateCredsSetupCompleted\": true,\n    \"instanceId\": \"885b4fb4a6a9c2cb5621429a7b972df0d05bb724c20ac7dac7171b62f1c7ef40\"\n  }\n}","options":{},"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"Amazon Product Data Mining Schema\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"summary\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"total_items\": { \"type\": \"integer\" },\n        \"unique_asins\": { \"type\": \"integer\" },\n        \"duplicated_asins_with_counts\": {\n          \"type\": \"object\",\n          \"additionalProperties\": { \"type\": \"integer\" }\n        },\n        \"average_price\": { \"type\": \"number\" },\n        \"min_price\": { \"type\": \"number\" },\n        \"max_price\": { \"type\": \"number\" },\n        \"average_reviews\": { \"type\": \"number\" }\n      },\n      \"required\": [\n        \"total_items\",\n        \"unique_asins\",\n        \"duplicated_asins_with_counts\",\n        \"average_price\",\n        \"min_price\",\n        \"max_price\",\n        \"average_reviews\"\n      ]\n    },\n\n    \"product_insights\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"best_value_item\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"asin\": { \"type\": \"string\" },\n            \"price\": { \"type\": \"number\" },\n            \"reviews\": { \"type\": \"integer\" }\n          },\n          \"required\": [\"asin\", \"price\", \"reviews\"]\n        },\n        \"most_reviewed_item\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"asin\": { \"type\": \"string\" },\n            \"price\": { \"type\": \"number\" },\n            \"reviews\": { \"type\": \"integer\" }\n          },\n          \"required\": [\"asin\", \"price\", \"reviews\"]\n        },\n        \"price_distribution\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"low_price\": { \"type\": \"number\" },\n            \"high_price\": { \"type\": \"number\" }\n          },\n          \"required\": [\"low_price\", \"high_price\"]\n        },\n        \"prime_eligibility_percentage\": { \"type\": \"string\" },\n        \"rating_insights\": { \"type\": \"string\" }\n      },\n      \"required\": [\n        \"best_value_item\",\n        \"most_reviewed_item\",\n        \"price_distribution\",\n        \"prime_eligibility_percentage\",\n        \"rating_insights\"\n      ]\n    },\n\n    \"metadata\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"type_distribution\": {\n          \"type\": \"object\",\n          \"additionalProperties\": { \"type\": \"integer\" }\n        },\n        \"location_distribution\": {\n          \"type\": \"object\",\n          \"additionalProperties\": { \"type\": \"integer\" }\n        },\n        \"image_quality_notes\": { \"type\": \"string\" }\n      },\n      \"required\": [\n        \"type_distribution\",\n        \"location_distribution\",\n        \"image_quality_notes\"\n      ]\n    },\n\n    \"recommendations\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"remove_duplicates\": { \"type\": \"string\" },\n        \"pricing_strategy\": { \"type\": \"string\" },\n        \"listing_quality_improvements\": { \"type\": \"string\" }\n      },\n      \"required\": [\n        \"remove_duplicates\",\n        \"pricing_strategy\",\n        \"listing_quality_improvements\"\n      ]\n    }\n  },\n  \"required\": [\"summary\", \"product_insights\", \"metadata\", \"recommendations\"]\n}\n"},"retryOnFail":true,"typeVersion":1.2},{"id":"a09fa319-7cae-4c50-8082-896fb2112634","name":"Product Descriptive Summarizer","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[0,464],"parameters":{"text":"=Provide me a descriptive summary of the following product details\n\n{{ $json.toJsonString() }}","batching":{},"messages":{"messageValues":[{"message":"You are an expert content analyzer and summary generator"}]},"promptType":"define","hasOutputParser":true},"retryOnFail":true,"typeVersion":1.7},{"id":"de650da3-dd97-46d1-8942-7e197d6ec700","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-1120,864],"parameters":{"color":6,"width":448,"height":320,"content":"### Processing Steps\n\n1. **Scraping Phase**: Decodo fetches all product data from Amazon\n2. **Extraction Phase**: Four parallel extractions occur:\n   - Product details\n   - Customer reviews\n   - AI summary\n   - Advertisement data\n3. **Analysis Phase**: \n   - Product details → Descriptive summary (via OpenAI)\n   - Product details → Competitive Analysis (via OpenAI)\n   - Ads data → Comprehensive product insights (via OpenAI)\n"},"typeVersion":1},{"id":"d05add22-08e0-4deb-8373-d5367210e2f2","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-1664,240],"parameters":{"width":464,"height":736,"content":"## **How It Works**\n\nThis workflow automates the end-to-end processing of Amazon product data by extracting structured information, enriching it with AI-powered insights, and exporting the finalized results into Google Sheets for tracking, reporting, and analysis.\n\n \n## Setup Instructions\n\n**Decodo Credentials**:\n   - Navigate to Credentials → Add Credential\n   - Select \"Decodo API\"\n   - Enter your Decodo API key\n   - Save as \"Decodo Credentials account\"\n\n\n**OpenAI Credentials**:\n   - Navigate to Credentials → Add Credential\n   - Select \"OpenAI\"\n   - Enter your OpenAI API key\n   - Save as \"OpenAi account\"\n\n## **Customize**\n\nMake this workflow your own by customizing prompts, models, outputs, and data extraction.\n\n- Customize AI Prompts\n- Change AI Models\n- Customize Output Schema\n- Add Output Destinations for saving in database, send to slack etc."},"typeVersion":1},{"id":"248c3649-c919-46f2-822d-90d2d0f7c569","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-176,-208],"parameters":{"color":6,"width":576,"height":144,"content":"### Multi-stage AI evaluation using OpenAI\nThis step generates product insights, produces descriptive summaries, and conducts competitive analysis based on the extracted data. Each model call refines the understanding of the product, while the structured output parser ensures consistent formatting for downstream processing and reporting."},"typeVersion":1},{"id":"ba3af54b-71b9-40fe-bf3a-34fe3d020be2","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-1664,-64],"parameters":{"color":3,"width":464,"height":288,"content":"## Disclaimer\n\n![Logo](https://cdn.brandfetch.io/idIeG9_eXK/w/100/h/100/theme/dark/icon.jpeg?c=1bxid64Mup7aczewSAYMX&t=1756483136894)\n\nThis workflow is only available on n8n self-hosted as it's making use of the community node for the Decodo Web Scraping"},"typeVersion":1},{"id":"e8492c0a-3fce-4477-b1c6-e5138952026e","name":"Competitive Analysis","type":"@n8n/n8n-nodes-langchain.informationExtractor","position":[0,832],"parameters":{"text":"=Analyze the following product details and provide a competitive positioning summary\\n\\n{{ $json.toJsonString() }}","options":{},"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"competitive_analysis\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"},"retryOnFail":true,"typeVersion":1.2},{"id":"0ef2f0ba-04da-4553-a81e-1db94d32b09d","name":"OpenAI Chat Model for Competitive Analysis","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[0,1008],"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"credentials":{"openAiApi":{"id":"vPKynKbDzJ5ZU4cU","name":"OpenAi account"}},"typeVersion":1.2},{"id":"6b9b801b-5e6c-4e56-81cd-c590cb6d8f57","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-576,32],"parameters":{"color":7,"width":336,"height":1152,"content":"## 1. Custom Data Extract\n\n\n"},"typeVersion":1},{"id":"463e0813-badb-45b0-bc98-523fb0b8f907","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-176,-64],"parameters":{"color":7,"width":576,"height":1248,"content":"## 2. OpenAI Insight Analyzer"},"typeVersion":1},{"id":"2d285795-4baf-4052-8169-9e438e195c0a","name":"Append or update row in sheet","type":"n8n-nodes-base.googleSheets","position":[976,464],"parameters":{"columns":{"value":{"output":"={{ $json.output.toJsonString() }}"},"schema":[{"id":"output","type":"string","display":true,"removed":false,"required":false,"displayName":"output","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["output"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{},"operation":"appendOrUpdate","sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1CHZLrQK-sJwn0fJMys88-ONg1HxUrErM09xu7wdfXSE/edit#gid=0","cachedResultName":"Sheet1"},"documentId":{"__rl":true,"mode":"list","value":"1CHZLrQK-sJwn0fJMys88-ONg1HxUrErM09xu7wdfXSE","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1CHZLrQK-sJwn0fJMys88-ONg1HxUrErM09xu7wdfXSE/edit?usp=drivesdk","cachedResultName":"Amazon Product Info with Decodo"}},"credentials":{"googleSheetsOAuth2Api":{"id":"Zjoxh2BUZ6VXGQhA","name":"Google Sheets account"}},"typeVersion":4.7},{"id":"08bc5f8e-29ec-4cdb-a722-28e3628380eb","name":"Merge","type":"n8n-nodes-base.merge","position":[528,448],"parameters":{"numberInputs":3},"typeVersion":3.2},{"id":"e53ba49c-aa57-46d3-9355-f9db4935e51f","name":"Aggregate","type":"n8n-nodes-base.aggregate","position":[752,464],"parameters":{"options":{},"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"output"}]}},"typeVersion":1},{"id":"45ec1fe6-7461-445e-9236-0a8b29961883","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[464,224],"parameters":{"color":7,"width":784,"height":576,"content":"## 3. Export Data Handling\n"},"typeVersion":1},{"id":"0e8e7966-580f-45ff-bef8-c2550daa9245","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[464,96],"parameters":{"color":6,"width":784,"height":128,"content":"### Export Data \nThis stage combines all processed outputs, aggregates them into a single structured record, and writes the finalized dataset to Google Sheets. It ensures no duplicates, preserves historical entries, and keeps the spreadsheet continuously up to date for reporting and tracking."},"typeVersion":1},{"id":"fb05f3bf-bfbf-4776-89c8-45cd4d3455fc","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[-576,-80],"parameters":{"color":6,"width":336,"height":112,"content":"### Custom Data Extract\nExtract Ads, Product Details, Reviews and AI Summary from the Decodo Response"},"typeVersion":1}],"active":false,"pinData":{},"settings":{"executionOrder":"v1"},"versionId":"7b5a8b56-bf75-4772-809a-2b55bf35d641","connections":{"Merge":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Extract Ads":{"main":[[{"node":"Product Insights","type":"main","index":0}]]},"Product Insights":{"main":[[{"node":"Merge","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Product Descriptive Summarizer","type":"ai_languageModel","index":0}]]},"Competitive Analysis":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Set the Input Fields":{"main":[[{"node":"Decodo Web scrape for Amazon Products","type":"main","index":0}]]},"Extract Product Details":{"main":[[{"node":"Product Descriptive Summarizer","type":"main","index":0},{"node":"Competitive Analysis","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Product Descriptive Summarizer","type":"ai_outputParser","index":0}]]},"Append or update row in sheet":{"main":[[]]},"Product Descriptive Summarizer":{"main":[[{"node":"Merge","type":"main","index":1}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Set the Input Fields","type":"main","index":0}]]},"Decodo Web scrape for Amazon Products":{"main":[[{"node":"Extract Product Details","type":"main","index":0},{"node":"Extract Ads","type":"main","index":0}]]},"OpenAI Chat Model for Competitive Analysis":{"ai_languageModel":[[{"node":"Competitive Analysis","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model for Amazon Product Mining":{"ai_languageModel":[[{"node":"Product Insights","type":"ai_languageModel","index":0}]]}}}