workflows/Scrape Property Listings from Zillow with Olostep API and Store in Data Tables-11130/scrape_property_listings_from_zillow_with_olostep_api_and_store_in_data_tables.json
{"id":"ac0vYJdpc4ll3W0P","meta":{"instanceId":"27d89e338dec9a8e890c8392e59ae77f0b5c04fed2eebabb915beb83537814bd"},"name":"zillow","tags":[{"id":"XcZuhml1MIWbrvpj","name":"work","createdAt":"2025-11-24T04:38:31.105Z","updatedAt":"2025-11-24T04:38:31.105Z"}],"nodes":[{"id":"457d1105-27ff-47dd-8226-ffecd242eb72","name":"parsedInfo","type":"n8n-nodes-base.set","position":[1184,288],"parameters":{"options":{},"assignments":{"assignments":[{"id":"21d26317-c9bc-4a56-a3ca-962254a23329","name":"parsedJson","type":"array","value":"={{ $json.result.json_content.replace(/\\\\/g, '') }}"}]}},"typeVersion":3.4},{"id":"c5d8048c-9909-4d6e-9276-548edcff2d1b","name":"Split Out","type":"n8n-nodes-base.splitOut","position":[1376,288],"parameters":{"options":{},"fieldToSplitOut":"parsedJson"},"typeVersion":1},{"id":"621fd093-07ff-46c2-972b-7361c4426056","name":"scrape places","type":"n8n-nodes-base.httpRequest","onError":"continueRegularOutput","position":[1008,288],"parameters":{"url":"https://api.olostep.com/v1/scrapes","method":"POST","options":{"allowUnauthorizedCerts":true},"jsonBody":"={\n  \"url_to_scrape\": \"https://www.zillow.com/{{ $('On form submission').item.json.place }}/?searchQueryState={%22pagination%22%3A{%22currentPage%22%3A{{ $json.counter }}}}\",\n  \"formats\": [\n    \"markdown\",\n    \"json\"\n  ],\n  \"wait_before_scraping\": 2,\n  \"remove_css_selectors\": \"default\",\n  \"llm_extract\": {\n    \"schema\": {\n      \"type\": \"array\",\n      \"description\": \"A list of businesses found on the Google Maps search results page.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"price\": {\n            \"type\": \"string\",\n            \"description\": \"The sale/rent price of the place.\"\n          },\n          \"url\": {\n            \"type\": \"string\",\n            \"description\": \"The url for the place.\"\n          },\n          \"location\": {\n            \"type\": \"string\",\n            \"description\": \"A short snippet of the place address or location.\"\n          }\n        },\n        \"required\": [\n          \"location\",\n          \"url\"\n        ]\n      }\n    }\n  },\n  \"screen_size\": {\n    \"screen_type\": \"desktop\",\n    \"screen_width\": 1920,\n    \"screen_height\": 1080\n  }\n}","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer <token>"}]}},"retryOnFail":true,"typeVersion":4.2},{"id":"f7634ebf-c19c-41e9-89e6-722626d312a2","name":"Insert row","type":"n8n-nodes-base.dataTable","position":[1584,288],"parameters":{"columns":{"value":{"url":"={{ $json.url }}","price":"={{ $json.price }}","location":"={{ $json.location }}"},"schema":[{"id":"price","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"price","defaultMatch":false},{"id":"url","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"url","defaultMatch":false},{"id":"location","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"location","defaultMatch":false}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{},"dataTableId":{"__rl":true,"mode":"list","value":"2NjhLmZVrLPM3jf2","cachedResultUrl":"/projects/11WujgBvYtgScH07/datatables/2NjhLmZVrLPM3jf2","cachedResultName":"zillow places"}},"typeVersion":1},{"id":"51f1f04c-a3ea-46d7-8913-0267fc2b0db1","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[816,272],"parameters":{"options":{}},"typeVersion":3},{"id":"a8606542-a436-4a6e-ba66-dde7a9c0db44","name":"Edit Fields","type":"n8n-nodes-base.set","position":[400,272],"parameters":{"options":{},"assignments":{"assignments":[{"id":"9cb88c80-de98-43d5-af5a-d3b9897ebe9b","name":"counter","type":"array","value":"[1,2,3,4,5,6,7]"}]}},"typeVersion":3.4},{"id":"be4837b5-14a8-46aa-9699-a71173383264","name":"Split Out1","type":"n8n-nodes-base.splitOut","position":[608,272],"parameters":{"options":{},"fieldToSplitOut":"counter"},"typeVersion":1},{"id":"4c56c0ef-7de8-47e1-8023-a51d1d9460b5","name":"On form submission","type":"n8n-nodes-base.formTrigger","position":[208,272],"webhookId":"a6d326e4-ec54-48e7-aa58-e1cf605466c5","parameters":{"options":{"appendAttribution":false},"formTitle":"Scrape Zillow With Olostep API","formFields":{"values":[{"fieldLabel":"place","placeholder":"Manhatten New York NY","requiredField":true}]}},"typeVersion":2.3},{"id":"b3ec54b2-7f73-4c1d-af95-bef528cc0d4f","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[384,176],"parameters":{"color":7,"width":352,"height":256,"content":"## Pagination  \nGenerates page numbers (1–7) to scrape multiple Zillow pages."},"typeVersion":1},{"id":"0edbb080-10ca-4017-8bfb-df4acfc1db45","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[768,192],"parameters":{"color":7,"width":400,"height":288,"content":"##  Olostep Zillow Scrape  \nExtracts price, listing URL, and location from each page."},"typeVersion":1},{"id":"92a4369f-bd37-4297-ae49-9fe8fa163d8b","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1536,192],"parameters":{"color":7,"width":224,"height":288,"content":"## Insert Row  \nSaves each property into Google Sheets / Data Table."},"typeVersion":1},{"id":"d989ad34-ed4a-4500-9ccb-d59e58ac7823","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-528,0],"parameters":{"width":608,"height":1024,"content":"# Zillow Property Scraper Using Olostep API  \n\nThis n8n template automates Zillow property data collection by scraping Zillow search results using the Olostep API.  \nIt extracts **property price, link to listing, and location**, removes duplicates, and stores everything in a Google Sheet or Data Table.\n\n## How it works / What it does  \n1. **Form Trigger**  \n   - User enters a location in the form (e.g., “Manhattan New York NY”).  \n   - This becomes the base Zillow search URL.\n\n2. **Pagination Logic**  \n   - A list of page numbers (1–7) is generated.  \n   - Each number is used to load the next Zillow search page.\n\n3. **Scrape Zillow Pages with Olostep**  \n   - For each page, the Olostep API scrapes the Zillow results.  \n   - Olostep’s LLM extraction schema extracts:  \n     - **price**  \n     - **url** (link to the Zillow listing)  \n     - **location**\n\n4. **Parse & Split Results**  \n   - Returned JSON is cleaned and converted into individual listing items.\n\n5. **Remove Duplicates**  \n   - Ensures each Zillow listing appears only once.\n\n6. **Insert into Google Sheet / Data Table**  \n   - Final cleaned listings are inserted row-by-row.  \n   - Perfect for filtering, exporting, or further analysis.\n\nThis workflow gives you a fast, scalable property scraper using Zillow + Olostep — no browser automation, no manual copy/paste.\n\n## How to set up  \n1. Import the template into n8n.  \n2. Add your **Olostep API key**.  \n3. Connect your **Google Sheet or n8n Data Table**.  \n4. Deploy the form and start scraping by entering a place name."},"typeVersion":1},{"id":"dbbc78fc-1b4c-44a3-a971-671d89cabe68","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[112,176],"parameters":{"color":7,"width":256,"height":256,"content":"##  Form Trigger  \nEnter a location (e.g. “Manhattan New York NY”) to build the Zillow URL."},"typeVersion":1},{"id":"c307280f-689c-42d9-94ec-745ac4038257","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[1184,192],"parameters":{"color":7,"width":336,"height":288,"content":"## Parse & Split  \nCleans the JSON and splits Zillow results into individual listings."},"typeVersion":1},{"id":"47f7d1d8-2d78-40ba-b96f-9daa5733a0ed","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[784,496],"parameters":{"color":3,"width":384,"height":176,"content":"## WARNING\nIf the http request runs through a 504 gateway timeout error, that's because the \"llm_extract\".\n\nYou can remove all the fields in the schema (inside the llm_extract) and then use a information extractor node or llm node to extract the desired information."},"typeVersion":1}],"active":false,"pinData":{},"settings":{"executionOrder":"v1"},"versionId":"90ebe40a-c794-4b7d-9938-74e2980ed242","connections":{"Split Out":{"main":[[{"node":"Insert row","type":"main","index":0}]]},"Insert row":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"parsedInfo":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"scrape places":{"main":[[{"node":"parsedInfo","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"scrape places","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}}}