workflows/Multilingual RSS to WordPress Publishing with OpenAI, ACF, and AI-Generated Images-11262/multilingual_rss_to_wordpress_publishing_with_openai_acf_and_ai-generated_images.json
{"id":"74PgoF1TzCIYunxH","meta":{"instanceId":"7fe2c0140ae8b4d227728fee4405242632f43d502e5ce947c0bfeacafc166aa7","templateCredsSetupCompleted":true},"name":"RSS to Wordpress","tags":[],"nodes":[{"id":"34fa58be-757f-43b6-8d90-a5d115259f85","name":"Generate Featured Image","type":"n8n-nodes-base.httpRequest","position":[4096,-2688],"parameters":{"url":"=https://api.replicate.com/v1/models/black-forest-labs/flux-krea-dev/predictions","method":"POST","options":{},"jsonBody":"={{ $json }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"wait"}]}},"credentials":{"httpHeaderAuth":{"id":"hfcFGqAOdMRQA9te","name":"replicate.com"}},"typeVersion":4.2},{"id":"da7f9e61-fd3b-48b5-98e9-4fbf5ab6c21d","name":"Get Image ID","type":"n8n-nodes-base.set","position":[4720,-2688],"parameters":{"options":{},"assignments":{"assignments":[{"id":"adf9a254-5d61-4e5f-a51e-9ee59c8b8c52","name":"image_id","type":"number","value":"={{ $json.id }}"}]}},"typeVersion":3.4},{"id":"7371ae36-0546-42a0-8998-8ac5dc5466d7","name":"RSS Feed Trigger","type":"n8n-nodes-base.rssFeedReadTrigger","position":[-688,-2336],"parameters":{"feedUrl":"https://www.aljazeera.com/xml/rss/all.xml","pollTimes":{"item":[{"mode":"everyHour"}]}},"typeVersion":1},{"id":"a3bc8f13-cd09-40e9-b06f-88861ec1c33e","name":"Assign URL","type":"n8n-nodes-base.set","position":[-384,-2336],"parameters":{"options":{},"assignments":{"assignments":[{"id":"318890b9-f6f0-480a-901f-22bd3f805634","name":"link","type":"string","value":"={{ $json.link }}"}]}},"typeVersion":3.4},{"id":"e572bc99-2b5e-42b9-b5c4-6780ad839086","name":"Scrape Page","type":"n8n-nodes-base.httpRequest","position":[-128,-2336],"parameters":{"url":"https://api.firecrawl.dev/v1/scrape","method":"POST","options":{},"jsonBody":"={\n    \"url\": \"{{ $json.link }}\",\n    \"formats\": [\"html\"],\n    \"maxAge\": 3600000,\n    \"onlyMainContent\": false,\n    \"waitFor\": 3000\n  } ","sendBody":true,"specifyBody":"json","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth"},"credentials":{"httpBearerAuth":{"id":"","name":""}},"typeVersion":4.2},{"id":"d5702695-59c1-42ca-8631-021378855506","name":"Assign and Multilingual Prompt","type":"n8n-nodes-base.set","position":[464,-2336],"parameters":{"options":{},"assignments":{"assignments":[{"id":"87296d7d-53ce-4c56-a838-d75559f0e690","name":"original_title","type":"string","value":"={{ $json.output[0].content[0].text.title }}"},{"id":"c138711f-c916-4bf5-9192-7d5b97c38ee1","name":"original_content","type":"string","value":"={{ $json.output[0].content[0].text.message }}"},{"id":"580e5bf2-d7af-408f-8acb-43b1a36fc00a","name":"default_language","type":"string","value":"german"},{"id":"20b56ac0-ae48-4954-b2f9-20253b8670de","name":"country","type":"string","value":"Germany"}]}},"typeVersion":3.4},{"id":"f911b028-6dbd-424d-bb5a-955b1845a28e","name":"Aggregate","type":"n8n-nodes-base.aggregate","position":[2720,-2704],"parameters":{"options":{},"aggregate":"aggregateAllItemData"},"typeVersion":1},{"id":"008c6681-0fe4-42d4-8b36-31715a96808c","name":"Clean Data","type":"n8n-nodes-base.set","position":[2512,-2704],"parameters":{"options":{},"assignments":{"assignments":[{"id":"dd6b3cb5-0e8e-4f0b-99a7-086f4b37f791","name":"translated_news","type":"object","value":"={{ $json.output[0].content[0].text }}"},{"id":"7b77afd1-3055-4341-a61c-615cf925f39b","name":"translated_language","type":"string","value":"={{ $('Split Out Translate Languages').item.json.other_languages }}"}]}},"typeVersion":3.4},{"id":"37731987-03fa-4874-8875-112b3b1f1b03","name":"Code in JavaScript","type":"n8n-nodes-base.code","position":[2912,-2704],"parameters":{"jsCode":"const rows = items[0].json.data;\n\nconst result = {acf: {}};\n\nfor (const row of rows) {\n  const lang = row.translated_language;\n\n  result.acf[`content_${lang}`] = row.translated_news.message;\n  result.acf[`title_${lang}`]   = row.translated_news.title;\n}\n\nreturn [{ json: result }];\n"},"typeVersion":2},{"id":"eb810efe-cfd1-4cd8-a552-6bfd1f53f19b","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-448,-2544],"parameters":{"width":1104,"height":128,"content":"## Scrape, extract article and assign languages\n\nThis section scrapes the page content and uses OpenAI to extract the article text, removing any HTML tags or ads. It also identifies the news title."},"typeVersion":1},{"id":"ba13da29-7405-437e-bae4-eb45b500f1e7","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1872,-2912],"parameters":{"width":1232,"height":144,"content":"## Multilingual Processing\n\nThis section translates the article body into the languages you specified. It does not rewrite the content, but provides accurate translations, ensuring your multilingual news portal maintains consistency across all languages.\n"},"typeVersion":1},{"id":"a5995570-9720-496c-92c1-20c8a1b9be8e","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[3760,-2880],"parameters":{"width":1136,"height":128,"content":"## Featured Image Generation\nCreates a unique featured image for each article in your preferred style. Adjust the prompt as needed to match your visual style. It also uploads the images to your wordpress website and retrieves their ID.\n\n"},"typeVersion":1},{"id":"58aaa6c2-2ee6-4ad8-adf6-51ed00e88191","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[5248,-2624],"parameters":{"width":624,"content":"## WordPress Publishing\nCreates the final post with a featured image and multilingual fields. This section publishes the articles and assigns the image ID as featured images. Alternatively, you can set the articles to draft status to test them before publishing.\n"},"typeVersion":1},{"id":"219c2b0f-36d5-4848-91d8-afac2c5ffc15","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-1328,-2752],"parameters":{"width":560,"height":576,"content":"## How it works\nThe workflow checks an RSS feed every hour, scrapes each article, and uses OpenAI to identify the main body content. It then rewrites the news in your chosen language and translates it into as many additional languages as needed. Finally, it generates a featured image and uploads all content to your multilingual WordPress website.\n\n\n## Setup steps\nWe assume you have a WordPress website with [ACF](https://www.advancedcustomfields.com/) installed and at least two custom fields created for each translation language. For example, if you want to translate content into **English** and **Italian**, your ACF field names should be: *title_english, title_italian, content_english, and content_italian*.\n\n- Add your credentials for Firecrawl, OpenAI, your WordPress website, and Replicate.com.\n- Add the RSS feed you want to scrape.\n```\nExample: https://www.aljazeera.com/xml/rss/all.xml\n```\n- Add the main language and country (e.g., for a German news portal, select German and Germany).\n- Add all the languages you want to translate the article into. For example:\n```\n[\"english\", \"italian\"]\n```\n- Adjust the OpenAI prompt to rewrite the news in your preferred style (it’s currently optimized for a technology website).\n- Adjust the Replicate.com prompt to generate images in your preferred style."},"typeVersion":1},{"id":"2ab2dc60-de28-4872-be8e-0851d8973f83","name":"Translate news","type":"@n8n/n8n-nodes-langchain.openAi","position":[2176,-2704],"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"GPT-4O-MINI"},"options":{"textFormat":{"textOptions":{"type":"json_schema","schema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\"\n    },\n    \"message\": {\n      \"type\": \"string\"\n    }\n  },\n  \"additionalProperties\": false,\n  \"required\": [\"title\", \"message\"]\n}"}}},"responses":{"values":[{"role":"system","content":"=You are a professional translator specializing in technology and news content. \nTranslate the following article into fluent, natural {{ $json.other_languages }} suitable for a professional technology news portal.\n\nYour goals:\n- Preserve the exact factual meaning of the original (no omissions, no additions).\n- Maintain all HTML structure and formatting exactly as it is: <p>, <h2>, <h3>, <ul>, <li>, <strong>, <em>, <blockquote>.\n- Do not translate or modify HTML tags — only translate the text content within them.\n- Keep names, numbers, dates, and quotes exactly accurate.\n- Maintain a neutral, journalistic tone.\n\nIMPORTANT:\n- Keep paragraphs, headings, and structure identical to the source.\n- Do not add background or commentary — just precise translation.\n- Ensure punctuation and typography follow Russian norms (e.g., «quotes», spacing).\n\nReturn ONLY in JSON format:\n{\n\"title\": [translated title in {{ $json.other_languages }}],\n\"content\": [translated content in {{ $json.other_languages }}, with all HTML preserved]\n}\nNo explanation. No markdown. Not change dates or numbers.\n"},{"content":"=Here is the news title to process:\n{{ $json.news.title }}\nHere is the news body to process:\n{{ $json.news.message }}"}]},"builtInTools":{"webSearch":{"searchContextSize":"medium"}}},"credentials":{"openAiApi":{"id":"","name":""}},"typeVersion":2},{"id":"8a0b7fec-f900-4e34-8e44-8b236b3a617a","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-448,-2400],"parameters":{"color":4,"width":1104,"height":256,"content":""},"typeVersion":1},{"id":"7fb35891-f1c0-40f4-9f9f-4dc6a79f4f54","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[944,-2576],"parameters":{"width":640,"content":"## Rewriting in your main language\n\nThis section rewrites the articles in the main language you specified earlier. It also adapts the content to a specific style, for example, a technology news portal. And ads basic HTML tags, like: lists, bold or quotes."},"typeVersion":1},{"id":"03a9a079-67c6-4885-ad84-7fa7ec1d22d6","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[944,-2400],"parameters":{"color":4,"width":640,"height":256,"content":""},"typeVersion":1},{"id":"3c8dff4c-6a3e-4dcc-b59e-a6c2c9af7c19","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[1872,-2752],"parameters":{"color":4,"width":1232,"height":240,"content":""},"typeVersion":1},{"id":"d5d20718-6311-4267-8d2d-c015675f453f","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[3760,-2736],"parameters":{"color":4,"width":1136,"height":224,"content":""},"typeVersion":1},{"id":"07f6b9c0-67e3-4b39-b05f-9c6ded067daa","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[5248,-2448],"parameters":{"color":4,"width":624,"height":336,"content":""},"typeVersion":1},{"id":"c4d56a5e-39db-446c-b574-c5b8dac71cf5","name":"Rewrite article in default language","type":"@n8n/n8n-nodes-langchain.openAi","position":[1008,-2336],"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"GPT-4O-MINI"},"options":{"textFormat":{"textOptions":{"type":"json_schema","schema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\"\n    },\n    \"message\": {\n      \"type\": \"string\"\n    }\n  },\n  \"additionalProperties\": false,\n  \"required\": [\"title\", \"message\"]\n}"}}},"responses":{"values":[{"role":"system","content":"=You are a senior editor for a respected {{ $json.country }} technology news portal publishing in {{ $json.default_language }} language. \nRewrite articles maintaining factual accuracy while providing context for readers from {{ $json.country }}.\n\nYour goals:\n- Translate any input text into clear, natural {{ $json.default_language }}.\n- Rephrase and rewrite the article so it looks fully original — change wording, structure, and style.\n- Keep all factual information intact (names, dates, places, numbers, quotes).\n- Add short relevant background or context where useful for {{ $json.country }} readers (e.g., EU, regional, local implications).\n- Maintain a neutral, journalistic tone, similar to a professional news outlet.\n- Do not invent or fabricate facts.\n- Format the output cleanly with 1–3 more paragraphs than the original.\n\nIMPORTANT FORMATTING REQUIREMENTS:\n- Use HTML formatting for better readability\n- Structure content with proper HTML tags: <p>, <h2>, <h3>, <strong>, <em>, <ul>, <ol>, <blockquote>\n- Break long paragraphs into shorter ones (3-5 sentences max per <p> tag)- Use <strong> for emphasis on key facts or figures\n- Use <h2> or <h3> for section breaks when article has multiple topics\n- Use <blockquote> for important quotes from officials or experts- Use <ul> or <ol> for lists when enumerating multiple points\n- Each paragraph must be wrapped in <p> tags- Add <em> for subtle emphasis when appropriate\n\nABSOLUTELY NO NEWLINES:\n- Do NOT insert any newline characters (\"\\n\" or \"\\n\\n\") in the output.\n- ALL spacing must be controlled ONLY with HTML tags.\n- Each paragraph should be <p>...</p> with no line breaks inside or around it.\n- The JSON must contain zero literal newline characters.\n\nARTICLE STRUCTURE GUIDELINES:\n- Start with a strong opening paragraph (lede) summarizing the main news\n- Break content into logical sections with subheadings if article is long (400+ words)\n- Use lists for: multiple examples, steps in a process, key points, statistics\n- Use blockquotes for: official statements, expert opinions, significant declarations\n- Use bold for: numbers, dates, names of key figures, important facts\n\n- Make sure you follow SEO guides\n\nReturn ONLY in JSON format\n{\n  title: [rewritten article in {{ $json.default_language }}],\n  content: [rewritten article in {{ $json.default_language }}]\n}\nNo explanation. No markdown. Not change dates or numbers."},{"content":"=Here is the news to process:\n{{ $json.original_content }}"}]},"builtInTools":{"webSearch":{"searchContextSize":"medium"}}},"credentials":{"openAiApi":{"id":"","name":""}},"typeVersion":2},{"id":"d4097117-d296-4a12-b367-6d9ef7d6ecb9","name":"Get rewrited article","type":"n8n-nodes-base.set","position":[1408,-2336],"parameters":{"options":{},"assignments":{"assignments":[{"id":"c1012364-af0d-40d1-8ca0-84a34e78a4c7","name":"news","type":"object","value":"={{ $json.output[0].content[0].text }}"},{"id":"1eab79af-3ff4-42a0-9775-f4e5a17e985c","name":"default_language","type":"string","value":"={{ $('Assign and Multilingual Prompt').item.json.default_language }}"},{"id":"0e1b71bf-dc24-47b0-a339-3dc2d450ac4f","name":"other_languages","type":"array","value":"[\"english\", \"italian\"]"}]}},"typeVersion":3.4},{"id":"ad36f8d4-d9ac-400b-8a60-1e4628d229af","name":"Publish article and translations","type":"n8n-nodes-base.httpRequest","position":[5664,-2352],"parameters":{"url":"https://your-domain.com/wp-json/wp/v2/posts","method":"POST","options":{},"jsonBody":"={\n  \"title\": {{ JSON.stringify( $json.news.title ) }},\n  \"content\": {{ JSON.stringify( $json.news.message ) }},\n  \"status\": \"publish\",\n  \"categories\": 3,\n  \"featured_media\": {{ $json.image_id }},\n  \"tags\":[],\n  \"format\": \"standard\",\n  \"acf\": {{ JSON.stringify($json.acf, null, 2) }}\n}","sendBody":true,"specifyBody":"json","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi"},"credentials":{"wordpressApi":{"id":"","name":""}},"typeVersion":4.2},{"id":"a2e2fac0-67b7-4371-a51d-7ed612d222f6","name":"Upload image to wordpress","type":"n8n-nodes-base.httpRequest","position":[4528,-2688],"parameters":{"url":"https://your-domain.com/wp-json/wp/v2/media","method":"POST","options":{},"sendBody":true,"contentType":"binaryData","jsonHeaders":"{\n  \"Content-Disposition\": \"attachment; filename=image.webp\",\n  \"Content-Type\": \"image/webp\"\n}","sendHeaders":true,"authentication":"predefinedCredentialType","specifyHeaders":"json","inputDataFieldName":"data","nodeCredentialType":"wordpressApi"},"credentials":{"wordpressApi":{"id":"","name":""}},"typeVersion":4.2},{"id":"7088128f-2d12-47b1-8059-01c09a7ca222","name":"Download Image","type":"n8n-nodes-base.httpRequest","position":[4320,-2688],"parameters":{"url":"={{ $json.output[0] }}","options":{"response":{"response":{"responseFormat":"file"}}}},"typeVersion":4.2},{"id":"beb2c5b1-e82c-4d2f-843b-4b1c38901d6d","name":"Generate Image Prompt","type":"n8n-nodes-base.code","position":[3840,-2688],"parameters":{"jsCode":"return [\n  {\n    json: {\n      input: {\n        prompt:\n          \"IMPORTANT: DO NOT USE WORDS OR TEXT. Should reproduce the featured image for an article written in \"+ $input.first().json.default_language +\" named: \" +\n          $input.first().json.news.title +\n          \". IMPORTANT: DO NOT USE WORDS OR TEXT.\" +\n          \"Clean, minimalist, professional style with clear focal point and balanced composition.\",\n        width: 1024,\n        height: 576,\n        aspect_ratio: \"16:9\",\n        seed: Math.floor(Math.random() * 100000),\n        safety_tolerance: 1,\n        output_format: \"jpg\"\n      }\n    }\n  }\n];\n"},"typeVersion":2},{"id":"0226489b-71f5-4db6-abbd-423c96973012","name":"Merge image and articles variables","type":"n8n-nodes-base.merge","position":[5360,-2352],"parameters":{"mode":"combine","options":{"includeUnpaired":true},"combineBy":"combineByPosition"},"typeVersion":3.2},{"id":"d5071255-f81e-4f35-92ab-706cab275f27","name":"Detect and Extract Article from Page HTML","type":"@n8n/n8n-nodes-langchain.openAi","position":[128,-2336],"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"GPT-4O-MINI"},"options":{"textFormat":{"textOptions":{"type":"json_schema","schema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\"\n    },\n    \"message\": {\n      \"type\": \"string\"\n    }\n  },\n  \"additionalProperties\": false,\n  \"required\": [\"title\", \"message\"]\n}"}}},"responses":{"values":[{"role":"system","content":"=Extract the main news article title and full body text from the following scraped HTML content.\n\nInstructions:\n\n1. TITLE EXTRACTION (in priority order):\n   - Any <h1>, <h2>, or <h3> that appears to be the main article headline\n   - <title> tag\n   - meta property=\"og:title\"\n   - meta name=\"twitter:title\"\n   - Data attributes in social share links\n   - If none found, use empty string \"\"\n\n2. BODY TEXT EXTRACTION:\n   Collect ALL paragraphs belonging to the same article, even if separated by:\n   - ad containers\n   - related article modules\n   - \"read more\" boxes\n   - newsletter boxes\n   - video embeds\n   - infinite-scroll triggers\n\n   Include paragraphs from ALL elements whose classes or tag patterns match any of the following:\n   - <article>, <main>, <section>\n   - Classes containing: \"article\", \"story\", \"body\", \"content\", \"post\", \"text\", \"wysiwyg\"\n   - <p> tags that appear near other article paragraphs\n\n   DO NOT stop after the first container. Continue scanning the ENTIRE HTML and append paragraphs in the correct order.\n\n3. CLEANING RULES:\n   - Remove ALL HTML tags\n   - Remove ads, navigation, captions, comments, share buttons, footers, or “related links”\n   - Keep ONLY real article paragraphs that form the news story\n   - Preserve paragraph breaks with double newlines (\\n\\n)\n\n4. OUTPUT:\nReturn ONLY a JSON object:\n\n{\n  \"title\": \"exact title text\",\n  \"content\": \"full article body with paragraphs separated by \\\\n\\\\n\"\n}\n\nRules:\n- Do NOT summarize, rewrite, or shorten.\n- Preserve the article’s original paragraph order.\n- Omit stray fragments like “More to come” unless they appear within the article itself.\n- If body is not found, return \"\".\n"},{"content":"=Scraped HTML content: {{ $json.data.html }}"}]},"builtInTools":{}},"credentials":{"openAiApi":{"id":"","name":""}},"typeVersion":2},{"id":"da13d7a2-0b2d-45a0-82b5-19329b81090a","name":"Split Out Translate Languages","type":"n8n-nodes-base.splitOut","position":[1952,-2704],"parameters":{"include":"allOtherFields","options":{},"fieldToSplitOut":"other_languages"},"typeVersion":1},{"id":"5aa2c500-2dc4-499e-a21b-564a3a8b7133","name":"Merge Article with Translations","type":"n8n-nodes-base.merge","position":[3376,-2352],"parameters":{"mode":"combine","options":{"includeUnpaired":true},"combineBy":"combineByPosition"},"typeVersion":3.2}],"active":false,"pinData":{},"settings":{"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"giTbPDgRuSePpU2u","executionOrder":"v1"},"versionId":"856e511a-668e-407e-816d-288e02d6b0c6","connections":{"Aggregate":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Assign URL":{"main":[[{"node":"Scrape Page","type":"main","index":0}]]},"Clean Data":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Scrape Page":{"main":[[{"node":"Detect and Extract Article from Page HTML","type":"main","index":0}]]},"Get Image ID":{"main":[[{"node":"Merge image and articles variables","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Upload image to wordpress","type":"main","index":0}]]},"Translate news":{"main":[[{"node":"Clean Data","type":"main","index":0}]]},"RSS Feed Trigger":{"main":[[{"node":"Assign URL","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Merge Article with Translations","type":"main","index":0}]]},"Get rewrited article":{"main":[[{"node":"Split Out Translate Languages","type":"main","index":0},{"node":"Merge Article with Translations","type":"main","index":1}]]},"Generate Image Prompt":{"main":[[{"node":"Generate Featured Image","type":"main","index":0}]]},"Generate Featured Image":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Upload image to wordpress":{"main":[[{"node":"Get Image ID","type":"main","index":0}]]},"Split Out Translate Languages":{"main":[[{"node":"Translate news","type":"main","index":0}]]},"Assign and Multilingual Prompt":{"main":[[{"node":"Rewrite article in default language","type":"main","index":0}]]},"Merge Article with Translations":{"main":[[{"node":"Generate Image Prompt","type":"main","index":0},{"node":"Merge image and articles variables","type":"main","index":1}]]},"Merge image and articles variables":{"main":[[{"node":"Publish article and translations","type":"main","index":0}]]},"Rewrite article in default language":{"main":[[{"node":"Get rewrited article","type":"main","index":0}]]},"Detect and Extract Article from Page HTML":{"main":[[{"node":"Assign and Multilingual Prompt","type":"main","index":0}]]}}}