workflows/Scrape LinkedIn profiles into Google Sheets using Google Custom Search-11693/scrape_linkedin_profiles_into_google_sheets_using_google_custom_search.json
{"meta":{"instanceId":"ae21f7ff983ee929f98e8d7968bbd21b49d1a44f2e129169348ba847d37dd5ac","templateCredsSetupCompleted":true},"nodes":[{"id":"0ca38d2d-b43f-42ca-839a-829abbe95bc8","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","position":[432,-32],"parameters":{"url":"https://www.googleapis.com/customsearch/v1","options":{},"sendQuery":true,"authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","queryParameters":{"parameters":[{"name":"cx","value":"c0fa13214e7ee42a4"},{"name":"q","value":"={{ $('On form submission').item.json.postion }} {{ $('On form submission').item.json.industry }} {{ $('On form submission').item.json.region }} site:linkedin.com/in"},{"name":"start","value":"={{ $runIndex == 0 ? $json.currentStartIndex : $node[\"Pagination Check\"].json.startIndex }}"}]}},"credentials":{"httpBasicAuth":{"id":"PXAA2X5Nrrk0qnTx","name":"Unnamed credential"}},"typeVersion":4.2},{"id":"238cb121-fac4-4257-a039-883db22bb6dd","name":"On form submission","type":"n8n-nodes-base.formTrigger","position":[-16,-32],"webhookId":"9d4bc925-a4fe-4ab6-9896-bdf978e221e8","parameters":{"options":{},"formTitle":"form","formFields":{"values":[{"fieldLabel":"postion","placeholder":"position","requiredField":true},{"fieldLabel":"industry","placeholder":"industry","requiredField":true},{"fieldLabel":"region","placeholder":"region","requiredField":true}]},"formDescription":"add details like position, industry, place"},"typeVersion":2.3},{"id":"635aa4c7-a268-4117-9abe-7bc0761809e6","name":"Code in JavaScript","type":"n8n-nodes-base.code","position":[656,-112],"parameters":{"jsCode":"// Get the response data\nconst response = $input.first().json;\nconst items = response.items || [];\n\n// Track pagination info\nlet nextStartIndex = 1;\nif (response.queries && response.queries.nextPage && response.queries.nextPage[0]) {\n  nextStartIndex = response.queries.nextPage[0].startIndex;\n}\n\n// Calculate if we should continue (Google only allows up to 100 results)\nconst hasMoreResults = nextStartIndex <= 100;\n\n// Process the items and include pagination info in each item\nconst results = items.map(item => {\n  const titleParts = item.title.split(\" - \");\n  const meta = item.pagemap?.metatags?.[0] || {};\n\n  // --- Added title cleaning logic ---\n  let rawTitle = meta[\"og:title\"] || item.title || \"\";\n  const name = titleParts[0] || \"\";\n\n  // Remove \"| LinkedIn\" at the end\n  let cleanedTitle = rawTitle.replace(/\\s*\\|\\s*LinkedIn\\s*$/i, \"\").trim();\n\n  // Remove name from start if present\n  if (name && cleanedTitle.toLowerCase().startsWith(name.toLowerCase())) {\n    cleanedTitle = cleanedTitle.replace(new RegExp(\"^\" + name + \"\\\\s*-\\\\s*\", \"i\"), \"\").trim();\n  }\n  // --- End of new logic ---\n\n  return {\n    name: name || null,\n    title: cleanedTitle || null, // <-- cleaned title applied here\n    link: item.link || null,\n    snippet: meta[\"og:description\"] || item.snippet || null,\n    image: item.pagemap?.cse_image?.[0]?.src || item.pagemap?.cse_thumbnail?.[0]?.src || null,\n    startIndex: nextStartIndex,\n    hasMoreResults: hasMoreResults,\n  };\n});\n\n// If there are no results, return at least one item with pagination info\nif (results.length === 0) {\n  return [{\n    json: {\n      name: null,\n      title: null,\n      link: null,\n      snippet: null,\n      image: null,\n      startIndex: nextStartIndex,\n      hasMoreResults: false,\n    },\n  }];\n}\n\n// Return the processed results\nreturn results.map(r => ({ json: r }));\n"},"typeVersion":2},{"id":"77342f4f-b0f2-4692-a073-050612bd9597","name":"Wait","type":"n8n-nodes-base.wait","position":[880,-112],"webhookId":"6bb6a09f-008b-4bae-a2d7-0fd440208df2","parameters":{"amount":3},"typeVersion":1.1},{"id":"e1331432-54a7-4049-bb59-8adb9276614b","name":"Code in JavaScript1","type":"n8n-nodes-base.code","position":[1552,-112],"parameters":{"jsCode":"// Get all input items\nconst inputItems = $input.all();\nconsole.log(\"Input items count:\", inputItems.length);\n\nlet nextStartIndex = 2; // default\nlet hasMoreResults = false; // default\n\nif (inputItems && inputItems.length > 0) {\n  const firstItem = inputItems[0];\n\n  if (firstItem.json) {\n    console.log(\"First item JSON:\", JSON.stringify(firstItem.json));\n  }\n\n  // ✅ Corrected property names\n  if (firstItem.json.startIndex !== undefined) {\n    nextStartIndex = firstItem.json.startIndex;\n    console.log(\"Found startIndex:\", nextStartIndex);\n  }\n\n  if (firstItem.json.hasMoreResults !== undefined) {\n    hasMoreResults = firstItem.json.hasMoreResults;\n    console.log(\"Found hasMoreResults:\", hasMoreResults);\n  }\n}\n\n// ✅ Return pagination control info\nreturn [\n  {\n    json: {\n      continueLoop: hasMoreResults,\n      startIndex: nextStartIndex,\n    },\n  },\n];\n"},"typeVersion":2},{"id":"08aac68e-3f3b-4215-9871-881415635eca","name":"Edit Fields","type":"n8n-nodes-base.set","position":[208,-32],"parameters":{"options":{},"assignments":{"assignments":[{"id":"b021fad7-82e9-4884-878a-f4672117203e","name":"currentStartIndex","type":"number","value":1},{"id":"cc6ebe1e-49c9-4020-b48c-f41dda365d09","name":"maxPages","type":"number","value":10}]}},"typeVersion":3.4},{"id":"09eecf87-ccf0-4d87-bc4f-a7d52e6295e8","name":"Pagination Check","type":"n8n-nodes-base.if","position":[1776,-32],"parameters":{"options":{},"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"a48fd2c5-c7e0-4da5-adcb-db2acf6972c3","operator":{"type":"boolean","operation":"equals"},"leftValue":"={{ $json.continueLoop }}","rightValue":true}]}},"typeVersion":2.2},{"id":"9fbc0fa8-5441-4fd3-be6d-6f0408e93720","name":"Append or update row in sheet","type":"n8n-nodes-base.googleSheets","position":[1104,-112],"parameters":{"columns":{"value":{"name":"={{ $json.name }}","img link":"={{ $json.image }}","position":"={{ $json.title }}","description":"={{ $json.snippet }}","profile links":"={{ $json.link }}","searched region":"={{ $('On form submission').item.json.region }}","searched industry":"={{ $('On form submission').item.json.industry }}","searched position":"={{ $('On form submission').item.json.postion }}"},"schema":[{"id":"name","type":"string","display":true,"removed":false,"required":false,"displayName":"name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"position","type":"string","display":true,"required":false,"displayName":"position","defaultMatch":false,"canBeUsedToMatch":true},{"id":"profile links","type":"string","display":true,"required":false,"displayName":"profile links","defaultMatch":false,"canBeUsedToMatch":true},{"id":"description","type":"string","display":true,"required":false,"displayName":"description","defaultMatch":false,"canBeUsedToMatch":true},{"id":"img link","type":"string","display":true,"required":false,"displayName":"img link","defaultMatch":false,"canBeUsedToMatch":true},{"id":"searched position","type":"string","display":true,"removed":false,"required":false,"displayName":"searched position","defaultMatch":false,"canBeUsedToMatch":true},{"id":"searched industry","type":"string","display":true,"removed":false,"required":false,"displayName":"searched industry","defaultMatch":false,"canBeUsedToMatch":true},{"id":"searched region","type":"string","display":true,"removed":false,"required":false,"displayName":"searched region","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["name"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{},"operation":"appendOrUpdate","sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MeQdveFXA4ihTc7FrFyl_JdBR0J2M3ydLhkwlnlChh4/edit#gid=0","cachedResultName":"Sheet1"},"documentId":{"__rl":true,"mode":"list","value":"1MeQdveFXA4ihTc7FrFyl_JdBR0J2M3ydLhkwlnlChh4","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MeQdveFXA4ihTc7FrFyl_JdBR0J2M3ydLhkwlnlChh4/edit?usp=drivesdk","cachedResultName":"linkedin profiles"}},"credentials":{"googleSheetsOAuth2Api":{"id":"5ewVvwFTLDlJ7YzJ","name":"Google Sheets account"}},"typeVersion":4.7},{"id":"7b0f0978-f1c4-43f0-acf4-0ea53da25c35","name":"Edit Fields1","type":"n8n-nodes-base.set","position":[1328,-112],"parameters":{"options":{},"assignments":{"assignments":[{"id":"dc1488dc-8422-48e2-abf4-9d47a0551c95","name":"startIndex","type":"string","value":"={{ $('Code in JavaScript').item.json.startIndex }}"},{"id":"b0fdc0e8-e780-4460-b710-c8bdd3f00c3e","name":"hasMoreResults","type":"boolean","value":"={{ $('Code in JavaScript').item.json.hasMoreResults }}"}]},"includeOtherFields":true},"typeVersion":3.4},{"id":"ebc78822-5d95-4ade-8273-be9005093f3a","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-688,-256],"parameters":{"width":592,"height":528,"content":"## Scrape LinkedIn Profiles to Google Sheets\n\n### How it works\\n1. You provide a position, industry, and region via a web form.\n2. The workflow performs a Google Custom Search for matching LinkedIn profiles.\n3. It extracts key profile information such as name, title, link, and description from the search results.\n4. All found profiles are appended or updated in your specified Google Sheet.\n5. The workflow automatically fetches multiple pages of results, stopping when no more are available or the Google Search API limit is reached.\n\n### Setup\n- [ ] Connect your Google Sheets account.\n- [ ] Add your Google Custom Search API Key and Search Engine ID (CX).\n- [ ] Select your Google Sheet document and the target sheet within the \\\"Append or update row in sheet\\\" node.\n- [ ] Ensure your Google Sheet has columns for: Name, Position, Profile Links, Description, Image Link, Searched Position, Searched Industry, and Searched Region.\n- [ ] Fill out the \\\"On form submission\\\" trigger form with your desired search criteria to initiate the workflow."},"typeVersion":1},{"id":"a767f679-5774-486e-9e83-24362be38268","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-64,-112],"parameters":{"color":7,"width":416,"height":272,"content":"## get the search data "},"typeVersion":1},{"id":"3667733b-a530-44a1-810b-bcdf627faf84","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[368,-192],"parameters":{"color":7,"width":1616,"height":384,"content":"## geather linkedin profile and update sheets\nsetup:\nadd custom search api key in http node"},"typeVersion":1}],"pinData":{"Edit Fields1":[{"name":"Mihir Shukla","img link":"https://media.licdn.com/dms/image/v2/C4E03AQHpCqIiqhHYEw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1516230113797?e=2147483647&v=beta&t=Wb56LKeXogI9ZybceBOhczkEnfMzqmOxB_SGKssIVcY","position":"Co-Founder, CEO and Chairman at Automation Anywhere","startIndex":"11","description":"Co-Founder, CEO and Chairman at Automation Anywhere · Mihir Shukla is co-founder, Chairman and CEO of Automation Anywhere, a global leader in Agentic Process Automation and AI solutions for the enterprise.\n\nMihir co-founded Automation Anywhere in 2003. Through his leadership, the company’s vision is to fuel the future of work by unleashing human potential through an Autonomous Enterprise where up to 80% of work is fully automated or AI-assisted, enabling people to focus on what matters most. Alongside rapid growth and profitability, Automation Anywhere has received numerous awards for its groundbreaking technology and customer-first approach, including being named in Forbes as one of the Seven Wonders of AI; frequent market leadership positions from top analysts such as Gartner and Forrester; annual listings on the Forbes Cloud 100 list; and numerous accolades for Automation Anywhere&#39;s positive culture, including being recognized as a Great Place to Work and featured in Newsweek’s America’s Top 200","profile links":"https://www.linkedin.com/in/mihirshukla","hasMoreResults":true,"searched region":"india","searched industry":"automation","searched position":"ceo"},{"name":"Aayush Ghosh Choudhury","img link":"https://media.licdn.com/dms/image/v2/D5603AQHMx4LrLswuCg/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1724712072339?e=2147483647&v=beta&t=VPRE8-UfL94L_47-9xuOfSsKObVbuRNSYKy8WSGN9fg","position":"Co-Founder/CEO at Scrut Automation (scrut.io)","startIndex":"11","description":"Co-Founder/CEO at Scrut Automation (scrut.io) · What if you could cut through the noise of security tools, customer questionnaires, and compliance frameworks?\n\nHow much better could you manage your risk?\n\nIn 2023, it’s nearly impossible to run a business without:\n- Answering customer security questions or agreeing to contractual provisions.\n- Meeting industry and regulatory standards for data protection.\n- Dealing with a constant stream of attacks against your network.\n\nThese things all require time and attention, when you have dozens of other pressing needs. Like delivering value to your customers and running your business.\n\n- During your sales cycle, how frequently do you find yourself answering bespoke questionnaires that ask the same questions in many different ways?\n\n- Do you have to address multiple compliance frameworks and audit processes, all with slightly different requirements and controls?\n\n- Are you concerned about your cyber risk posture, but find it challenging to deal with a barrage of aler","profile links":"https://www.linkedin.com/in/aayushghoshc","hasMoreResults":true,"searched region":"india","searched industry":"automation","searched position":"ceo"},{"name":"Nitin Chugh","img link":"https://media.licdn.com/dms/image/v2/D4D03AQFyl5QR69a0uw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1677144114676?e=2147483647&v=beta&t=TKibC8OVXbts4nYbfgFsSNyVrATAlntmf0My3zhWuJ0","position":"CEO-Automation - Sparkline Equipments |Ex-Executive Director - Fori Automation India | Profit Center Management | 25+ Years&#39; Experience in Automation in Automotive Sector","startIndex":"11","description":"CEO-Automation - Sparkline Equipments |Ex-Executive Director - Fori Automation India | Profit Center Management | 25+ Years&#39; Experience in Automation in Automotive Sector · My journey encompasses transforming sales visions into operational success and steering our team towards excellence in the Automation Industry. My leadership has been instrumental in nurturing a robust organization, evident in the establishment of a 100+ strong team, and in orchestrating the company&#39;s expansion to a significant market presence.\n\nWith a solid grounding in profit center management, I&#39;ve championed the development of customized, cost-effective automation solutions, fortifying customer alliances and catalyzing our growth trajectory. My approach integrates a technophile&#39;s passion for innovation with a steadfast commitment to quality and affordability, ensuring that our projects not only meet but exceed the dynamic needs of our clients. · Experience: Sparkline · Location: Pune · 500+ connections on LinkedIn. ","profile links":"https://in.linkedin.com/in/nitin-chugh","hasMoreResults":true,"searched region":"india","searched industry":"automation","searched position":"ceo"},{"name":"Dilip Sawhney","img link":"https://static.licdn.com/aero-v1/sc/h/1c5u578iilxfi4m4dvc4q810q","position":"Rockwell Automation","startIndex":"11","description":"Rockwell Automation · Experience: Rockwell Automation · Location: Bengaluru · 290 connections on LinkedIn. View Dilip Sawhney’s profile on LinkedIn, a professional community of 1 billion members.","profile links":"https://in.linkedin.com/in/dilip-sawhney-722a125","hasMoreResults":true,"searched region":"india","searched industry":"automation","searched position":"ceo"},{"name":"Uday Birajdar","img link":"https://media.licdn.com/dms/image/v2/D4D03AQHdMoIBGDRP4g/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1675318951259?e=2147483647&v=beta&t=WFvVTnnT3_Mb7AnjU2DVTx75uN6TtFH53DsMtyUIvr8","position":"AutomationEdge","startIndex":"11","description":"We are passionately building AI Agents and automation solutions for Healthcare, BFSI and… · Experience: AutomationEdge · Location: Houston · 500+ connections on LinkedIn. View Uday Birajdar’s profile on LinkedIn, a professional community of 1 billion members.","profile links":"https://www.linkedin.com/in/udaybirajdar","hasMoreResults":true,"searched region":"india","searched industry":"automation","searched position":"ceo"},{"name":"Mayuresh Pimpalkar","img link":"https://media.licdn.com/dms/image/v2/C5603AQHDFnprmnyhYg/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1659605858355?e=2147483647&v=beta&t=Ok-UnKoZ36P-XoNcSm4FPgK4jtRXmbsv7dLhiNfTZio","position":"CEO at Kokban Automation Pvt. Ltd.","startIndex":"11","description":"CEO at Kokban Automation Pvt. Ltd. · Experience: Kokban Automation (P) Ltd. · Location: Pune · 500+ connections on LinkedIn. View Mayuresh Pimpalkar’s profile on LinkedIn, a professional community of 1 billion members.","profile links":"https://in.linkedin.com/in/mayuresh-pimpalkar-3846a737","hasMoreResults":true,"searched region":"india","searched industry":"automation","searched position":"ceo"},{"name":"Vidur Amin","img link":"https://media.licdn.com/dms/image/v2/C4D03AQFI6uR4v0n22w/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1618431927149?e=2147483647&v=beta&t=BUkWMIgnftwSaw7SngV7MDCSyQYM6cnJpSZLkCO-YFI","position":"Avo Automation","startIndex":"11","description":"I have a strong foundation in business strategy, innovation &amp; operations and am a firm… · Experience: Avo Automation · Education: University of Colorado Boulder · Location: Bangalore Urban · 500+ connections on LinkedIn. View Vidur Amin’s profile on LinkedIn, a professional community of 1 billion members.","profile links":"https://in.linkedin.com/in/vidur-amin-79ba4b30","hasMoreResults":true,"searched region":"india","searched industry":"automation","searched position":"ceo"},{"name":"Anuj Arora","img link":"https://static.licdn.com/aero-v1/sc/h/1c5u578iilxfi4m4dvc4q810q","position":"CEO &amp; Managing Director - Automation Systems &amp; Solutions ( India ) Pvt Ltd","startIndex":"11","description":"Experience: Automation Systems &amp; Solutions ( India ) Pvt Ltd · Education: Shieling House , Kanpur (U.P) · Location: Bengaluru · 500+ connections on LinkedIn. View Anuj Arora’s profile on LinkedIn, a professional community of 1 billion members.","profile links":"https://in.linkedin.com/in/anuj-arora-3a867739","hasMoreResults":true,"searched region":"india","searched industry":"automation","searched position":"ceo"},{"name":"Harshal Pore","img link":"https://static.licdn.com/aero-v1/sc/h/1c5u578iilxfi4m4dvc4q810q","position":"Founder &amp; Managing Director- Alpha TechSys Automation India| Transforming vision technologies into intelligent computer vision| Techno-Commercial Excellence | Celebrated Entrepreneur with proven success | Machine Vision","startIndex":"11","description":"Founder &amp; Managing Director- Alpha TechSys Automation India| Transforming vision technologies into intelligent computer vision| Techno-Commercial Excellence | Celebrated Entrepreneur with proven success | Machine Vision · A visionary entrepreneur and CEO of Alpha TechSys Automation, I have led the company from its inception to becoming a leading provider of high-quality computer and industrial vision technology products-solutions. Specializing in quality inspection, defect detection, and process optimization through AI and computer vision, my foresight and dedication to excellence have driven the success of Alpha TechSys Automation India, making it a significant player in the industrial and machine vision automation industry. · Location: Pune. 500+ connections on LinkedIn. View Harshal Pore’s profile on LinkedIn, a professional community of 1 billion members.","profile links":"https://in.linkedin.com/in/harshal-pore-7638875","hasMoreResults":true,"searched region":"india","searched industry":"automation","searched position":"ceo"},{"name":"Rakesh Shetty","img link":"https://static.licdn.com/aero-v1/sc/h/1c5u578iilxfi4m4dvc4q810q","position":"CEO at Axis Automation India","startIndex":"11","description":"CEO at Axis Automation India · Working in the Electronics  sector for more than 30 years . Having hands on experience in servicing sales and marketing of SMT Products. Have worked in India and also managed the SEA market. \nAlso have significant amount of experiences in Sales &amp; Marketing related ; specialized in the field of SMT. · Experience: Axis Automation India · Location: Bengaluru · 500+ connections on LinkedIn. View Rakesh Shetty’s profile on LinkedIn, a professional community of 1 billion members.","profile links":"https://in.linkedin.com/in/rakesh-shetty-8a790721","hasMoreResults":true,"searched region":"india","searched industry":"automation","searched position":"ceo"}]},"connections":{"Wait":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Pagination Check":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Wait","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Pagination Check","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}}}