workflows/Scrape Yelp Business Data with Scrape.do API & Google Sheets Storage-11454/scrape_yelp_business_data_with_scrape.do_api_google_sheets_storage.json
{"id":"nxD8kaXfUqShx16o","meta":{"instanceId":"90dc2b54c08ec19698c075977fcc829945f83dacc1d5eed945877f7c489089c5"},"name":"Yelp Business Scraper by URL via Scrape.do API with Google Sheets Storage","tags":[],"nodes":[{"id":"e4cd5600-3d10-464c-8e1d-76c2d9eaacf6","name":"📋 Workflow Overview","type":"n8n-nodes-base.stickyNote","position":[240,-656],"parameters":{"width":1048,"height":496,"content":"# Yelp Business Scraper via Scrape.do\n\n## How it works\n1. User submits a Yelp business URL via the web form\n2. Scrape.do fetches the page with JavaScript rendering enabled\n3. Workflow polls until the scraping job completes\n4. HTML is parsed to extract business details (name, rating, phone, address, etc.)\n5. Data is automatically appended to your Google Sheet\n\n## Setup steps\n1. Get your API token from [scrape.do/dashboard](https://scrape.do/?utm_source=n8n&utm_medium=yelp)\n2. Replace `YOUR_SCRAPEDO_TOKEN` in the 3 HTTP Request nodes\n3. Create a Google Sheet with these columns:\n   `name, overall_rating, reviews_count, url, phone, address, price_range, categories, website, hours, images_videos_urls, scraped_at`\n4. Connect your Google Sheets OAuth2 credentials\n5. Update `YOUR_GOOGLE_SHEET_ID` in the Google Sheets node\n\n**Docs:** [scrape.do/documentation](https://scrape.do/?utm_source=n8n&utm_medium=yelp)"},"typeVersion":1},{"id":"249dc952-e93a-41f7-aae6-831525298857","name":"Scraping Section","type":"n8n-nodes-base.stickyNote","position":[256,-80],"parameters":{"color":5,"width":1004,"height":604,"content":"## 🔄 Scraping Loop\nSubmits URL to Scrape.do async API and polls until the job completes successfully."},"typeVersion":1},{"id":"fe2f5cc2-30d6-4680-a5a1-6f7b1f025119","name":"Processing Section","type":"n8n-nodes-base.stickyNote","position":[1280,-32],"parameters":{"color":5,"width":244,"height":316,"content":"## 🔧 Data Extraction\nFetches raw HTML and parses business details using regex and JSON-LD patterns."},"typeVersion":1},{"id":"b9def20e-beca-47ad-aa34-8f72fad48088","name":"📥 Form Trigger","type":"n8n-nodes-base.formTrigger","position":[32,128],"webhookId":"ae4aacb7-a062-4172-8817-f51716a841b7","parameters":{"options":{},"formTitle":"Yelp Business URL Scraper","formFields":{"values":[{"fieldLabel":"Yelp Business URL","placeholder":"https://www.yelp.com/biz/business-name-city","requiredField":true}]},"formDescription":"Enter a Yelp business URL to scrape business details"},"typeVersion":2.2},{"id":"a8fd2103-d7f3-4028-bfc1-85fa418c67bc","name":"🔍 Create Scrape.do Job","type":"n8n-nodes-base.httpRequest","position":[336,128],"parameters":{"url":"https://q.scrape.do/api/v1/jobs","method":"POST","options":{"response":{"response":{"responseFormat":"json"}}},"jsonBody":"={{ JSON.stringify({ \"Targets\": [$json[\"Yelp Business URL\"]], \"Super\": true, \"GeoCode\": \"us\", \"Device\": \"desktop\", \"Render\": { \"BlockResources\": false, \"WaitUntil\": \"networkidle2\", \"CustomWait\": 3000 } }) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"X-Token","value":"YOUR_SCRAPEDO_TOKEN"},{"name":"Content-Type","value":"application/json"}]}},"typeVersion":4.2},{"id":"cadd0217-44a6-4b8c-b7e0-cdf90351415b","name":"⏳ Wait 15s","type":"n8n-nodes-base.wait","position":[576,128],"webhookId":"10b45556-5e91-4387-abd0-f9078b220286","parameters":{"amount":15},"typeVersion":1.1},{"id":"736efe6f-a4cc-4728-85ed-36be3734d9af","name":"📡 Check Job Status","type":"n8n-nodes-base.httpRequest","position":[816,128],"parameters":{"url":"=https://q.scrape.do/api/v1/jobs/{{ $('🔍 Create Scrape.do Job').item.json.JobID }}","options":{"response":{"response":{"responseFormat":"json"}}},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Token","value":"YOUR_SCRAPEDO_TOKEN"}]}},"typeVersion":4.2,"alwaysOutputData":true},{"id":"36e58548-5434-4f37-af3c-7863ad69b238","name":"🔁 Is Job Complete?","type":"n8n-nodes-base.if","position":[1056,128],"parameters":{"options":{},"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"or","conditions":[{"id":"35ed620d-b5d5-4e97-bcc5-52b283d85616","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.Status }}","rightValue":"success"}]}},"typeVersion":2.2},{"id":"3578ae88-65fc-4fe2-80fb-81aa9cd1aa96","name":"⏳ Wait 10s Retry","type":"n8n-nodes-base.wait","position":[816,320],"webhookId":"retry-wait-webhook","parameters":{"amount":10},"typeVersion":1.1},{"id":"1e8a7101-2dc2-4bcc-b924-35970cba45d8","name":"📥 Fetch Task Results","type":"n8n-nodes-base.httpRequest","position":[1360,128],"parameters":{"url":"=https://q.scrape.do/api/v1/jobs/{{ $('🔍 Create Scrape.do Job').item.json.JobID }}/{{ $('🔍 Create Scrape.do Job').item.json.TaskIDs[0] }}","options":{"response":{"response":{"responseFormat":"json"}}},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Token","value":"YOUR_SCRAPEDO_TOKEN"}]}},"typeVersion":4.2},{"id":"f578a67e-8bb5-4fbd-b94e-c385df042e2d","name":"🔧 Parse Yelp HTML","type":"n8n-nodes-base.code","position":[1616,128],"parameters":{"mode":"runOnceForEachItem","jsCode":"// Parse Yelp business page HTML to extract structured data\nconst html = $input.item.json.Content || '';\nconst url = $input.item.json.URL || '';\n\n// Helper to decode HTML entities\nfunction decodeHTML(str) {\n  if (!str) return '';\n  return str\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/&#x27;/g, \"'\")\n    .replace(/&#x2F;/g, '/');\n}\n\n// Extract business name\nlet name = '';\nconst titleMatch = html.match(/<title[^>]*>([^<]+)/i);\nif (titleMatch) {\n  name = titleMatch[1].split(' - ')[0].split(' | ')[0].trim();\n}\nconst jsonLdMatch = html.match(/\"name\"\\s*:\\s*\"([^\"]+)\"/i);\nif (jsonLdMatch) {\n  name = decodeHTML(jsonLdMatch[1]);\n}\n\n// Extract overall rating\nlet overall_rating = '';\nconst ratingMatch = html.match(/\"aggregateRating\"[^}]*\"ratingValue\"\\s*:\\s*\"?([\\d.]+)\"?/i);\nif (ratingMatch) {\n  overall_rating = ratingMatch[1];\n} else {\n  const altRating = html.match(/aria-label=\"([\\d.]+)\\s*star\\s*rating\"/i);\n  if (altRating) overall_rating = altRating[1];\n}\n\n// Extract review count\nlet reviews_count = '';\nconst reviewMatch = html.match(/\"reviewCount\"\\s*:\\s*\"?(\\d+)\"?/i);\nif (reviewMatch) {\n  reviews_count = reviewMatch[1];\n} else {\n  const altReview = html.match(/(\\d+)\\s*reviews?/i);\n  if (altReview) reviews_count = altReview[1];\n}\n\n// Extract phone number\nlet phone = '';\nconst phoneMatch = html.match(/\"telephone\"\\s*:\\s*\"([^\"]+)\"/i);\nif (phoneMatch) {\n  phone = phoneMatch[1];\n} else {\n  const altPhone = html.match(/\\(?\\d{3}\\)?[-.\\s]?\\d{3}[-.\\s]?\\d{4}/);\n  if (altPhone) phone = altPhone[0];\n}\n\n// Extract address\nlet address = '';\nconst addressMatch = html.match(/\"address\"\\s*:\\s*\\{[^}]*\"streetAddress\"\\s*:\\s*\"([^\"]+)\"/i);\nif (addressMatch) {\n  address = decodeHTML(addressMatch[1]);\n}\nconst cityMatch = html.match(/\"addressLocality\"\\s*:\\s*\"([^\"]+)\"/i);\nconst stateMatch = html.match(/\"addressRegion\"\\s*:\\s*\"([^\"]+)\"/i);\nconst zipMatch = html.match(/\"postalCode\"\\s*:\\s*\"([^\"]+)\"/i);\nif (cityMatch) address += `, ${cityMatch[1]}`;\nif (stateMatch) address += `, ${stateMatch[1]}`;\nif (zipMatch) address += ` ${zipMatch[1]}`;\n\n// Extract price range\nlet price_range = '';\nconst priceMatch = html.match(/\"priceRange\"\\s*:\\s*\"([^\"]+)\"/i);\nif (priceMatch) {\n  price_range = priceMatch[1];\n} else {\n  const dollarMatch = html.match(/>\\s*(\\$+)\\s*</i);\n  if (dollarMatch) price_range = dollarMatch[1];\n}\n\n// Extract categories\nlet categories = '';\nconst categoryMatches = html.match(/\"itemListElement\"[^\\]]*\\]/i);\nif (categoryMatches) {\n  const cats = categoryMatches[0].match(/\"name\"\\s*:\\s*\"([^\"]+)\"/gi);\n  if (cats) {\n    categories = cats.map(c => c.match(/\"([^\"]+)\"$/)[1]).join(', ');\n  }\n}\n\n// Extract images (first 5)\nlet images_videos_urls = '';\nconst imageMatches = html.match(/https:\\/\\/s3-media[\\d]*\\.fl\\.yelpcdn\\.com\\/bphoto\\/[^\"'\\s]+/gi);\nif (imageMatches) {\n  const uniqueImages = [...new Set(imageMatches)].slice(0, 5);\n  images_videos_urls = uniqueImages.join(', ');\n}\n\n// Extract website\nlet website = '';\nconst websiteMatch = html.match(/biz-website[^>]*>\\s*<a[^>]*href=\"([^\"]+)\"/i);\nif (websiteMatch) {\n  website = decodeHTML(websiteMatch[1]);\n}\n\n// Extract business hours\nlet hours = '';\nconst hoursMatch = html.match(/\"openingHours\"\\s*:\\s*\\[([^\\]]+)\\]/i);\nif (hoursMatch) {\n  hours = hoursMatch[1].replace(/\"/g, '').replace(/,/g, '; ');\n}\n\nreturn {\n  json: {\n    name: name || 'N/A',\n    overall_rating: overall_rating || 'N/A',\n    reviews_count: reviews_count || 'N/A',\n    url: url,\n    phone: phone || 'N/A',\n    address: address || 'N/A',\n    price_range: price_range || 'N/A',\n    categories: categories || 'N/A',\n    website: website || 'N/A',\n    hours: hours || 'N/A',\n    images_videos_urls: images_videos_urls || 'N/A',\n    scraped_at: new Date().toISOString()\n  }\n};"},"typeVersion":2},{"id":"1cf2ec4f-84c1-4e0e-aafc-afc2a95eea5f","name":"📊 Store to Google Sheet","type":"n8n-nodes-base.googleSheets","position":[1872,128],"parameters":{"columns":{"value":{},"schema":[{"id":"name","type":"string","display":true,"required":false,"displayName":"name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"overall_rating","type":"string","display":true,"required":false,"displayName":"overall_rating","defaultMatch":false,"canBeUsedToMatch":true},{"id":"reviews_count","type":"string","display":true,"required":false,"displayName":"reviews_count","defaultMatch":false,"canBeUsedToMatch":true},{"id":"url","type":"string","display":true,"required":false,"displayName":"url","defaultMatch":false,"canBeUsedToMatch":true},{"id":"phone","type":"string","display":true,"required":false,"displayName":"phone","defaultMatch":false,"canBeUsedToMatch":true},{"id":"address","type":"string","display":true,"required":false,"displayName":"address","defaultMatch":false,"canBeUsedToMatch":true},{"id":"price_range","type":"string","display":true,"required":false,"displayName":"price_range","defaultMatch":false,"canBeUsedToMatch":true},{"id":"categories","type":"string","display":true,"required":false,"displayName":"categories","defaultMatch":false,"canBeUsedToMatch":true},{"id":"website","type":"string","display":true,"required":false,"displayName":"website","defaultMatch":false,"canBeUsedToMatch":true},{"id":"hours","type":"string","display":true,"required":false,"displayName":"hours","defaultMatch":false,"canBeUsedToMatch":true},{"id":"images_videos_urls","type":"string","display":true,"required":false,"displayName":"images_videos_urls","defaultMatch":false,"canBeUsedToMatch":true},{"id":"scraped_at","type":"string","display":true,"required":false,"displayName":"scraped_at","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{},"operation":"append","sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=0","cachedResultName":"Sheet1"},"documentId":{"__rl":true,"mode":"list","value":"YOUR_GOOGLE_SHEET_ID","cachedResultUrl":"https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?usp=drivesdk","cachedResultName":"Yelp Scraper Data"}},"typeVersion":4.6},{"id":"36ed1bf7-c23e-47f6-8128-c015fbaef704","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-16,16],"parameters":{"width":220,"height":256,"content":"## 📋 Form Input\nStarts the workflow when the user submits a business Yelp URL through the form."},"typeVersion":1},{"id":"626b1a59-6258-42fb-a51e-4a0891d5c181","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[288,0],"parameters":{"color":3,"width":236,"height":288,"content":"## 🚀 Scrape.do Job\nCreates an async scraping job via Scrape.do API with JS rendering enabled for Yelp."},"typeVersion":1},{"id":"a0a19914-b2e0-4d9c-ab36-45583e4615a7","name":"Sticky Note - Parse","type":"n8n-nodes-base.stickyNote","position":[1568,-32],"parameters":{"color":6,"width":200,"height":288,"content":"## 🔧 Parse HTML\nExtracts business data (name, rating, reviews, URL, images) from the raw HTML using regex patterns."},"typeVersion":1},{"id":"d51d1cfe-185c-408c-9182-e3ac9a187bf8","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[1808,-32],"parameters":{"color":4,"width":280,"height":312,"content":"## 📊 Google Sheets\nStores the extracted business data (name, rating, reviews, phone, address, etc.) to your Google Sheet."},"typeVersion":1}],"active":false,"pinData":{},"settings":{"executionOrder":"v1"},"versionId":"af1fe504-2f84-4c2e-9263-b60ce27e0a2d","connections":{"⏳ Wait 15s":{"main":[[{"node":"📡 Check Job Status","type":"main","index":0}]]},"📥 Form Trigger":{"main":[[{"node":"🔍 Create Scrape.do Job","type":"main","index":0}]]},"⏳ Wait 10s Retry":{"main":[[{"node":"📡 Check Job Status","type":"main","index":0}]]},"🔧 Parse Yelp HTML":{"main":[[{"node":"📊 Store to Google Sheet","type":"main","index":0}]]},"📡 Check Job Status":{"main":[[{"node":"🔁 Is Job Complete?","type":"main","index":0}]]},"🔁 Is Job Complete?":{"main":[[{"node":"📥 Fetch Task Results","type":"main","index":0}],[{"node":"⏳ Wait 10s Retry","type":"main","index":0}]]},"📥 Fetch Task Results":{"main":[[{"node":"🔧 Parse Yelp HTML","type":"main","index":0}]]},"🔍 Create Scrape.do Job":{"main":[[{"node":"⏳ Wait 15s","type":"main","index":0}]]}}}