workflows/Validate and Score Email Addresses with ZeroBounce AI-11498/validate_and_score_email_addresses_with_zerobounce_ai.json
{"nodes":[{"id":"4605b9aa-6651-4528-aa38-205de19fb807","name":"When clicking ‘Execute workflow’","type":"n8n-nodes-base.manualTrigger","position":[-2320,416],"parameters":{},"typeVersion":1},{"id":"3ad8a8d3-c985-4529-87e4-32801f4a4739","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-1184,96],"parameters":{"color":7,"width":464,"height":560,"content":"## 3. ZeroBounce Validation\n**Validate** an email address with ZeroBounce.\n\nThis uses the ZeroBounce API to validate a single email address and optional IP address.\n\nDetails can be found here [Single Email Validator](https://www.zerobounce.net/docs/email-validation-api-quickstart/v2-validate-emails).\n\nThis returns the status of the email address along with other useful information about the address and domain."},"typeVersion":1},{"id":"10331981-4671-4dba-9962-5b6bd67ee7ae","name":"Check credits for validation","type":"@zerobounce/n8n-nodes-zerobounce.zeroBounce","position":[-1600,480],"parameters":{"resource":"account","creditsRequired":"={{ $input.all().length }}"},"credentials":{"zeroBounceApi":{"id":"VGYyxEiFV4hMX9FQ","name":"ZeroBounce account"}},"executeOnce":true,"typeVersion":1},{"id":"4b5ea2a9-7f60-4438-9643-88486bcd0370","name":"Check credits for scoring","type":"@zerobounce/n8n-nodes-zerobounce.zeroBounce","position":[-400,480],"parameters":{"resource":"account","creditsRequired":"="},"credentials":{"zeroBounceApi":{"id":"VGYyxEiFV4hMX9FQ","name":"ZeroBounce account"}},"executeOnce":true,"typeVersion":1},{"id":"9c926119-15ee-421d-94b7-5956eba35468","name":"Low score","type":"n8n-nodes-base.noOp","position":[800,800],"parameters":{},"typeVersion":1},{"id":"ddff6279-7066-4e85-a88a-3b4828e5dafa","name":"Not valid","type":"n8n-nodes-base.noOp","position":[-880,800],"parameters":{},"typeVersion":1},{"id":"11f95653-21f2-4d90-b8e0-b764a2bfde65","name":"Wait for scoring credits check","type":"n8n-nodes-base.merge","position":[-160,416],"parameters":{"mode":"combine","options":{},"combineBy":"combineAll"},"typeVersion":3.2},{"id":"0d97ccfe-6b6b-4ab3-aeeb-6b4766094dbc","name":"Wait for validation credits check","type":"n8n-nodes-base.merge","position":[-1360,416],"parameters":{"mode":"combine","options":{},"combineBy":"combineAll"},"typeVersion":3.2},{"id":"2d5b310c-3859-45b5-8535-c2e7517659fd","name":"Not scored","type":"n8n-nodes-base.noOp","position":[80,800],"parameters":{},"typeVersion":1},{"id":"f43152a6-9890-4dab-8d64-105152ecf928","name":"Merge validation and scoring results","type":"n8n-nodes-base.merge","position":[560,416],"parameters":{"mode":"combine","options":{},"advanced":true,"joinMode":"enrichInput1","mergeByFields":{"values":[{"field1":"address","field2":"email"}]}},"typeVersion":3.2},{"id":"cc71a5e7-5b0c-4ebe-8dc0-6ddb9e05b0e5","name":"Skip scoring?","type":"n8n-nodes-base.switch","position":[80,416],"parameters":{"rules":{"values":[{"outputKey":"score","conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"761a0147-a4d3-47bd-8c0a-2a325d0879fa","operator":{"type":"array","operation":"lengthLte","rightType":"number"},"leftValue":"={{ $input.all() }}","rightValue":"={{ $json.Credits }}"}]},"renameOutput":true},{"outputKey":"skip","conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"da3f8ab3-1606-497a-b0a8-e958d317d68c","operator":{"type":"array","operation":"lengthGt","rightType":"number"},"leftValue":"={{ $input.all() }}","rightValue":"={{ $json.Credits }}"}]},"renameOutput":true}]},"options":{},"looseTypeValidation":true},"typeVersion":3.3},{"id":"319d4af3-56f5-4df5-82ae-0844ae025081","name":"Is valid?","type":"n8n-nodes-base.switch","position":[-880,416],"parameters":{"rules":{"values":[{"outputKey":"valid","conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"958a508a-4388-42e0-b9a7-f7ed5e974343","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.status }}","rightValue":"valid"}]},"renameOutput":true},{"outputKey":"other","conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"63d83f43-0d54-413c-aa9e-6c4bc920d345","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.status }}","rightValue":"valid"}]},"renameOutput":true}]},"options":{}},"typeVersion":3.3},{"id":"9790b46f-3def-416d-b727-4a4b8ad6792e","name":"Split into items","type":"n8n-nodes-base.splitOut","position":[-1840,416],"parameters":{"include":"allOtherFields","options":{"destinationFieldName":"email"},"fieldToSplitOut":"emails"},"typeVersion":1},{"id":"232210ae-90d2-4292-aa69-4f57cf22bba5","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-1664,96],"parameters":{"color":7,"width":464,"height":560,"content":"## 2. Check ZeroBounce account credits balance (optional)\nCheck if your ZeroBounce account has enough credits to perform validation for all of the input items.\n\nThis step is optional, although checking before starting the workflow can prevent issues part way through.\n\nThe [Get Credits](https://www.zerobounce.net/docs/email-validation-api-quickstart#get_balance__v2__) node can optionally compare the returned credits balance against a value and throw an error if there aren't enough.\n\nThe \"Merge\" node allows us to use \"Execute Once\" for the \"Get Credits\" node and wait for the result without altering the 30 input items."},"typeVersion":1},{"id":"4d92f3b5-d232-4c85-ad43-7e9a64820b67","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-2144,96],"parameters":{"color":7,"width":464,"height":560,"content":"## 1. Input data\nHere we are using [Sandbox](https://www.zerobounce.net/docs/email-validation-api-quickstart/v2-sandbox-mode) email addresses which don't use any ZeroBounce credits.\n\nThese can be used for testing and proving your workflows before connecting production data.\n\nIn a real workflow, the input data will usually be provided by the trigger, e.g. new contact added.\n\nThe split step converts the data from a single array into 30 individual email address items. "},"typeVersion":1},{"id":"4c575831-abb5-4657-a9df-d5557c4d5ff7","name":"Sandbox emails","type":"n8n-nodes-base.set","position":[-2080,416],"parameters":{"mode":"raw","options":{},"jsonOutput":"{\n  \"emails\": [\n    \"disposable@example.com\",\n    \"invalid@example.com\",\n    \"valid@example.com\",\n    \"toxic@example.com\",\n    \"donotmail@example.com\",\n    \"spamtrap@example.com\",\n    \"abuse@example.com\",\n    \"unknown@example.com\",\n    \"catch_all@example.com\",\n    \"antispam_system@example.com\",\n    \"does_not_accept_mail@example.com\",\n    \"exception_occurred@example.com\",\n    \"failed_smtp_connection@example.com\",\n    \"failed_syntax_check@example.com\",\n    \"forcible_disconnect@example.com\",\n    \"global_suppression@example.com\",\n    \"greylisted@example.com\",\n    \"leading_period_removed@example.com\",\n    \"mail_server_did_not_respond@example.com\",\n    \"mail_server_temporary_error@example.com\",\n    \"mailbox_quota_exceeded@example.com\",\n    \"mailbox_not_found@example.com\",\n    \"no_dns_entries@example.com\",\n    \"possible_trap@example.com\",\n    \"possible_typo@example.com\",\n    \"role_based@example.com\",\n    \"timeout_exceeded@example.com\",\n    \"unroutable_ip_address@example.com\",\n    \"free_email@example.com\",\n    \"role_based_catch_all@example.com\"\n  ]\n}"},"typeVersion":3.4},{"id":"1e9a3380-ba41-452f-86a6-de489a86f889","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-704,96],"parameters":{"color":7,"width":464,"height":560,"content":"## 4. Check ZeroBounce account credits balance (optional)\nCheck if your ZeroBounce account has enough credits to perform scoring for all of the input items.\n\nThe optional \"Credits required\" parameter is not set. This allows us to check the result and skip scoring  if there aren't enough credits.\n\nA 5 second wait is added to allow time for the credits balance to update after the validations."},"typeVersion":1},{"id":"181f5f08-f529-4dd8-b29f-9894f7453efc","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-2144,672],"parameters":{"color":7,"width":3344,"height":272,"content":"## Filtered outputs\nThese are the output branches which have been filtered by their validation status and score.\n\nFurther actions could be taken with these filtered results, e.g. followed up using [Email Finder](https://www.zerobounce.net/docs/email-finder-api) or [Domain Search](https://www.zerobounce.net/docs/domain-search-api) using our n8n node. "},"typeVersion":1},{"id":"f98fdd0a-84b5-42e3-9573-ffcb10a208a7","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[736,96],"parameters":{"color":7,"width":464,"height":560,"content":"## 7. Split results by score\nHere is your output, this refined list can now be used with a high confidence that it will reach your intended recipient."},"typeVersion":1},{"id":"71dc76df-cf63-4bc9-be28-efa253806b95","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[256,96],"parameters":{"color":7,"width":464,"height":560,"content":"## 6. ZeroBounce A.I. Scoring\n**A.I. Score** an email address with ZeroBounce.\n\nThis uses the ZeroBounce API to score a single email address.\n\nDetails can be found here [Single Email Scoring](https://www.zerobounce.net/docs/ai-scoring-api/single-email-scoring).\n\nThis returns the score for the email address.\n\nThe merge node is used to merge the scoring result with the validation result."},"typeVersion":1},{"id":"cb07a250-1e74-46c7-b270-63767f6a52c1","name":"Wait","type":"n8n-nodes-base.wait","position":[-640,480],"webhookId":"3ce3ef26-a6cd-4398-bd38-5dc740742ef5","parameters":{},"typeVersion":1.1},{"id":"8c7cac72-2d68-450d-a937-130716a425bd","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[-224,96],"parameters":{"color":7,"width":464,"height":560,"content":"## 5. Score emails or finish\nThis checks if there are enough credits to score the remaining emails.\n\nThis allows the validation results to be used even if scoring can't be performed."},"typeVersion":1},{"id":"970d312e-0c4e-4bb6-9781-8c6cf43b204f","name":"Filter by score","type":"n8n-nodes-base.switch","position":[800,400],"parameters":{"rules":{"values":[{"outputKey":"high","conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"47aa6c56-2c5a-41ac-8f5c-5b7f183d898b","operator":{"type":"number","operation":"gte"},"leftValue":"={{ $json.score }}","rightValue":9}]},"renameOutput":true},{"outputKey":"medium","conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"b1bdb574-a04c-4086-86a3-899e53ccda07","operator":{"type":"number","operation":"gte"},"leftValue":"={{ $json.score }}","rightValue":3}]},"renameOutput":true},{"outputKey":"low","conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"5c624f71-1acc-4ce8-92d3-821fe2d4f83b","operator":{"type":"number","operation":"lt"},"leftValue":"={{ $json.score }}","rightValue":3}]},"renameOutput":true}]},"options":{"fallbackOutput":2},"looseTypeValidation":true},"typeVersion":3.3},{"id":"c8011979-3e29-4db1-9cab-3017fe376d30","name":"Medium score","type":"n8n-nodes-base.noOp","position":[1040,480],"parameters":{},"typeVersion":1},{"id":"426f281c-fb22-41f8-aa5a-c11fe90aa9cf","name":"High score","type":"n8n-nodes-base.noOp","position":[1040,336],"parameters":{},"typeVersion":1},{"id":"9883858a-0b29-440e-be5c-7b34f03fdfdc","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[-3072,96],"parameters":{"color":7,"width":912,"height":848,"content":"## ZeroBounce Email Validation and Scoring\n\nThis template uses the [ZeroBounce](https://www.zerobounce.net) node to validate and score email addresses. It is designed to first check if an email is deliverable and then uses A.I. Scoring to assess the sender's deliverability confidence.\n\nThis is an example template to demonstrate ways to use the ZeroBounce node and how to manipulate the data with core n8n nodes.\n\nA ZeroBounce API key is needed to use this template. Generate one [here](https://www.zerobounce.net/members/API).\n\n\n\n\n![ZeroBounce Logo](https://raw.githubusercontent.com/zerobounce/n8n-nodes-zerobounce/main/icons/zerobounce-logo.svg)\n\n### 1. Email Validation\nThe **`Validate email`** node sends the email address to the ZeroBounce API to determine its status (e.g., **`'valid', 'invalid', 'spam trap'`**).\n* **Function:** Checks the email address against ZeroBounce's Email Validation API\n\n\n### 2. A.I. Scoring\nFor emails confirmed as valid, the workflow proceeds to the **`Score email`** node.\n* **Function:** Applies ZeroBounce's proprietary A.I. model to assess the quality of the email, returning a numerical score (**0 to 10**).\n\n\n### 3. Output\nThe workflow concludes with the **`Filter by score` Switch Node**, which uses the ZeroBounce score to categorize the email into three confidence tiers:\n* **High Score:** Indicates high confidence in deliverability and is ready for immediate campaigns.\n* **Medium Score:** Suggests moderate risk; these might be suitable for re-engagement or specialized campaigns.\n* **Low Score:** Indicates high risk, even if the status was technically `valid`. These should be suppressed to protect sender reputation."},"typeVersion":1},{"id":"80b82b9d-d112-4d71-8288-bd11ffb6bc8e","name":"Validate email","type":"@zerobounce/n8n-nodes-zerobounce.zeroBounce","position":[-1120,416],"parameters":{"email":"={{ $json.email }}","timeout":10},"credentials":{"zeroBounceApi":{"id":"VGYyxEiFV4hMX9FQ","name":"ZeroBounce account"}},"typeVersion":1},{"id":"d9b77095-cf8b-4655-b186-8574cbae51f8","name":"Score email","type":"@zerobounce/n8n-nodes-zerobounce.zeroBounce","position":[320,480],"parameters":{"email":"={{ $json.address }}","resource":"scoring"},"credentials":{"zeroBounceApi":{"id":"VGYyxEiFV4hMX9FQ","name":"ZeroBounce account"}},"typeVersion":1}],"connections":{"Wait":{"main":[[{"node":"Check credits for scoring","type":"main","index":0}]]},"Is valid?":{"main":[[{"node":"Wait for scoring credits check","type":"main","index":0},{"node":"Wait","type":"main","index":0}],[{"node":"Not valid","type":"main","index":0}]]},"Low score":{"main":[[]]},"Score email":{"main":[[{"node":"Merge validation and scoring results","type":"main","index":1}]]},"Skip scoring?":{"main":[[{"node":"Score email","type":"main","index":0},{"node":"Merge validation and scoring results","type":"main","index":0}],[{"node":"Not scored","type":"main","index":0}]]},"Sandbox emails":{"main":[[{"node":"Split into items","type":"main","index":0}]]},"Validate email":{"main":[[{"node":"Is valid?","type":"main","index":0}]]},"Filter by score":{"main":[[{"node":"High score","type":"main","index":0}],[{"node":"Medium score","type":"main","index":0}],[{"node":"Low score","type":"main","index":0}]]},"Split into items":{"main":[[{"node":"Check credits for validation","type":"main","index":0},{"node":"Wait for validation credits check","type":"main","index":0}]]},"Check credits for scoring":{"main":[[{"node":"Wait for scoring credits check","type":"main","index":1}]]},"Check credits for validation":{"main":[[{"node":"Wait for validation credits check","type":"main","index":1}]]},"Wait for scoring credits check":{"main":[[{"node":"Skip scoring?","type":"main","index":0}]]},"Wait for validation credits check":{"main":[[{"node":"Validate email","type":"main","index":0}]]},"Merge validation and scoring results":{"main":[[{"node":"Filter by score","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Sandbox emails","type":"main","index":0}]]}}}