workflows/Send asteroid alerts from NASA to LINE using OpenAI and DeepL-11304/send_asteroid_alerts_from_nasa_to_line_using_openai_and_deepl.json
{"id":"LYKbf58XxZ8OIaj5","meta":{"instanceId":"b023674627c58980fb6714426453392ba62def288b4513c7739228bcf5ecfb50"},"name":"Monitor and alert hazardous asteroids from NASA to LINE","tags":[],"nodes":[{"id":"26308750-bbff-434a-ad89-cc442ef3f2e7","name":"Step 1 Note","type":"n8n-nodes-base.stickyNote","position":[2416,1552],"parameters":{"color":7,"width":700,"height":100,"content":"### Step 1: Fetch & Analyze\nGet data from NASA and filter for hazardous asteroids."},"typeVersion":1},{"id":"6cd9d6b5-fbc6-4526-86f7-3031f9b100ae","name":"Step 2 Note","type":"n8n-nodes-base.stickyNote","position":[3360,1952],"parameters":{"color":7,"width":395,"height":100,"content":"### Step 2: AI Generation (Danger Path)\nGenerate Sci-Fi alert and translate."},"typeVersion":1},{"id":"780d1bbc-fbd9-405f-a01d-25f191614d8e","name":"Step 3 Note","type":"n8n-nodes-base.stickyNote","position":[3968,1552],"parameters":{"color":7,"width":180,"height":360,"content":"### Step 3: Notification\nSend alerts via LINE Notify."},"typeVersion":1},{"id":"1f232117-5efa-43c7-aea7-3c70f6b2bbbc","name":"Daily Schedule1","type":"n8n-nodes-base.scheduleTrigger","position":[2416,1648],"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"typeVersion":1.2},{"id":"e4e4c1f3-575e-47ff-ab2e-a43917777a6a","name":"Get Asteroid Data1","type":"n8n-nodes-base.nasa","position":[2640,1648],"parameters":{"resource":"asteroidNeoFeed","additionalFields":{"endDate":"={{ $today.format('YYYY-MM-DD') }}","startDate":"={{ $today.format('YYYY-MM-DD') }}"}},"typeVersion":1},{"id":"99196001-57ba-4274-a9f8-faf3cc196cce","name":"Filter & Calculate Distance1","type":"n8n-nodes-base.code","position":[2864,1648],"parameters":{"jsCode":"// Extract list from NASA data\nconst dateKey = Object.keys(items[0].json.near_earth_objects)[0];\nconst allAsteroids = items[0].json.near_earth_objects[dateKey];\n\n// 1. Filter only potentially hazardous asteroids\nconst dangerousAsteroids = allAsteroids.filter(a => a.is_potentially_hazardous_asteroid === true);\n\n// Distance to Moon (km)\nconst moonDistance = 384400;\n\nif (dangerousAsteroids.length > 0) {\n  // 🚨 If threats exist (Calculate relative distance)\n  return dangerousAsteroids.map(a => {\n    // Get miss distance in km\n    const missDistanceKm = parseFloat(a.close_approach_data[0].miss_distance.kilometers);\n    // Calculate lunar distance ratio (2 decimal places)\n    const lunarDistance = (missDistanceKm / moonDistance).toFixed(2);\n\n    return {\n      json: {\n        type: \"DANGER\", // Flag for Switch\n        name: a.name,\n        size_m: a.estimated_diameter.meters.estimated_diameter_max,\n        miss_distance_km: missDistanceKm,\n        lunar_distance: lunarDistance // Add calculation result\n      }\n    }\n  });\n} else {\n  // 🕊️ If no threats detected (Create peace data)\n  return [\n    {\n      json: {\n        type: \"PEACE\", // Flag for Switch\n        message: \"No threats detected today.\"\n      }\n    }\n  ];\n}"},"typeVersion":2},{"id":"5f78eac4-3773-4855-a0fc-df5767518862","name":"Check Threat Level1","type":"n8n-nodes-base.switch","position":[3088,1648],"parameters":{"rules":{"values":[{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.type }}","rightValue":"DANGER"}]}},{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.type }}","rightValue":"PEACE"}]}}]},"options":{}},"typeVersion":3.3},{"id":"08a99066-e200-414d-b31b-013b84a2ced7","name":"Generate SF Alert1","type":"n8n-nodes-base.openAi","position":[3312,1744],"parameters":{"options":{},"resource":"chat","requestOptions":{}},"typeVersion":1},{"id":"13368c02-d862-43ee-9697-af66911f49f6","name":"Translate Alert1","type":"n8n-nodes-base.deepL","position":[3536,1744],"parameters":{"text":"={{ $json.message.content }}","translateTo":"JA","additionalFields":{}},"typeVersion":1},{"id":"b94f57bf-d432-46fb-87ee-ef1b0f752e8a","name":"Send Danger Alert1","type":"n8n-nodes-base.line","position":[3760,1744],"parameters":{"message":"=🚨 [EMERGENCY ALERT] 🚨\n{{ $json.translatedText }}","additionalFields":{}},"typeVersion":1},{"id":"9050603d-c5c2-401b-a785-bd81cc2a95b6","name":"Send Peace Report1","type":"n8n-nodes-base.line","position":[3312,1552],"parameters":{"message":"🕊️ Daily Planetary Defense Report\n\nPatrol complete. No threats detected in Earth's vicinity today.\n\nHave a peaceful day!\n(Status: All Green)","additionalFields":{}},"typeVersion":1},{"id":"18d37ca3-fd37-467b-8a6b-32d77df14297","name":"Template Description1","type":"n8n-nodes-base.stickyNote","position":[1936,1552],"parameters":{"width":435,"height":903,"content":"## Monitor and alert hazardous asteroids from NASA to LINE\n\nThis workflow acts as your personal Planetary Defense System. It checks NASA's data daily for potentially hazardous asteroids and alerts you if any are approaching Earth.\n\n### What it does\n1.  **Fetches Data**: Retrieves today's asteroid data from NASA's NeoWs API.\n2.  **Analyzes Threats**: Filters for \"potentially hazardous\" asteroids and calculates their distance relative to the Moon.\n3.  **Generates Alert**: If a threat is found, it uses OpenAI to write a Sci-Fi style warning.\n4.  **Translates**: Translates the alert to your target language (default: Japanese, configurable).\n5.  **Notifies**: Sends the alert or a \"Peace Report\" via LINE.\n\n### How to set up\n1.  **NASA API**: Sign up for a free API key at `api.nasa.gov` and configure the **Get Asteroid Data** node credentials.\n2.  **OpenAI**: Configure your API key in the **Generate SF Alert** node.\n3.  **DeepL**: Configure your API key in the **Translate Alert** node (or remove this node if English is preferred). \n    *   *Note*: Change the `Translate To` field to your desired language.\n4.  **LINE**: Generate a LINE Notify token and configure the **Send Danger Alert** and **Send Peace Report** nodes.\n    *   *Alternative*: You can replace the LINE nodes with Slack, Discord, or Email nodes.\n\n### Requirements\n*   n8n v1.0+\n*   NASA API Key\n*   OpenAI API Key\n*   DeepL API Key\n*   LINE Notify Token"},"typeVersion":1}],"active":false,"pinData":{},"settings":{"executionOrder":"v1"},"versionId":"4ca73aca-71d8-4506-884d-1ed768c95b41","connections":{"Daily Schedule1":{"main":[[{"node":"Get Asteroid Data1","type":"main","index":0}]]},"Translate Alert1":{"main":[[{"node":"Send Danger Alert1","type":"main","index":0}]]},"Generate SF Alert1":{"main":[[{"node":"Translate Alert1","type":"main","index":0}]]},"Get Asteroid Data1":{"main":[[{"node":"Filter & Calculate Distance1","type":"main","index":0}]]},"Check Threat Level1":{"main":[[{"node":"Generate SF Alert1","type":"main","index":0}],[{"node":"Send Peace Report1","type":"main","index":0}]]},"Filter & Calculate Distance1":{"main":[[{"node":"Check Threat Level1","type":"main","index":0}]]}}}